@import "./variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: $background-color;
}

@media (max-width: 1200px) {
    html {
        font-size: 55%; 
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 50%; 
    }
}

@media (max-width: 800px) {
    html {
        font-size: 45%; 
    }
}

@media (max-width: 600px) {
    html {
        font-size: 42.5%; 
    }
}