@mixin gradient-text($direction, $color1, $color2) {
  color: transparent;
  background-image: linear-gradient($direction, $color1, $color2);
  background-clip: text;
}

@mixin gradient-text-3($direction, $color1, $color2, $color3) {
  color: transparent;
  background-image: linear-gradient($direction, $color1, $color2, $color3);
  background-clip: text;
}

.section-1 {
  height: 105vh;
  width: 100%;
  background: radial-gradient(
      circle at 75% 40%,
      #4bb3ff,
      #7fc9ff,
      transparent 45%
    ),
    radial-gradient(circle at 0% 35%, #c0eafd, #e7f6fd, transparent 30%);
  clip-path: polygon(0 0, 100% 0, 100% 52%, 57% 100%, 0 100%);
  display: flex;
  padding-bottom: 10vh;
  padding: 5rem 15vw;
  position: relative;
}

.section-1-col {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 10vw;
}

.section-1-col2 {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect-1-img {
  margin-bottom: 5rem;
  height: 40rem;
  width: 50rem;
  object-fit: cover;
}

.adj-text {
  font-size: 1.5rem;
  color: rgb(121, 149, 159);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.sect-1-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  @include gradient-text(0deg, #17ead9, #0057ff);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
}

.sect-1-text-2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0a2647;
  // @include gradient-text(0deg, #eab217, #ff0000);
  padding-right: 10rem;
}

.gradient-orange {
  font-weight: 900;
  @include gradient-text(to right, #ea5a6f, #fccf3a);
}

.gradient-purple {
  font-weight: 900;
  @include gradient-text(to right, #f02fc2, #897af2);
}

.gradient-red {
  font-weight: 900;
  @include gradient-text(to right, #cc2b5e, #753a88);
}

.gradient-orangered {
  font-weight: 900;
  @include gradient-text(to right, #ee0979, #ff6a00);
}

.gradient-redviolet {
  font-weight: 900;
  @include gradient-text-3(to right, #c33764, #1d2671, #c33764);
}

.gradient-baseblue-down {
  font-weight: 900;
  @include gradient-text(to bottom, #0057ff, #7fc9ff);
}

.gradient-green {
  font-weight: 900;
  @include gradient-text(to right, #00cd7d, #5fd0df);
}

.gradient-a {
  font-weight: 900;
  @include gradient-text(to right, #bc3d2f, #a16bfe);
}

.gradient-b {
  font-weight: 900;
  @include gradient-text(to right, #eb3349 , #f45c43);
}

.gradient-c {
  font-weight: 900;
  @include gradient-text(to right, #185a9d , #43cea2);
}

.gradient-d {
  font-weight: 900;
  @include gradient-text(to right, #7b4397  , #dc2430 );
}

.gradient-e {
  font-weight: 900;
  @include gradient-text(to right, #0f3663  , #011754 );
}

.gradient-f {
  font-weight: 900;
  @include gradient-text(to right, #16ff00, #ffde00 );
}

.gradient-g {
  font-weight: 900;
  @include gradient-text(to right, #F1C40F  , #FF0061 );
}

.gradient-h {
  font-weight: 900;
  @include gradient-text(to right, darkred  , red );
}

.paragraph-text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #0a2647;
}

.word-glue {
  white-space: nowrap;
  word-break: keep-all;
}

.cta-1 {
  cursor: pointer;
  filter: drop-shadow(-3px 6px 8px rgba(0, 0, 0, 0.39));
  height: 5.5rem;
  width: 25rem;
  background-color: #0a2647;
  color: white;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  border: transparent;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  gap: 0rem;
  letter-spacing: 0px;
  margin-top: 1rem;
}

.cta-1:hover {
  background-color: #0057ff;
  gap: 1rem;
  letter-spacing: 0.5px;
}

.icon-next {
  @include heading-logo(next, 3rem, 3rem);
  margin-left: 1rem;
  background-image: linear-gradient(to right, white, white);
}

.section-4 {
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background: radial-gradient(
      circle at 85% 55%,
      #7bc8ff71,
      #7fcaff75,
      transparent 25%
    ),
    radial-gradient(circle at 15% 40%, #00fba775, #00ffcc7d, transparent 20%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
}

.section-4-img {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-4-text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  gap: 2rem;

  // align-items: center;
}

.sect-4-text {
  font-size: 5rem;
  color: #003f76;
  font-family: "Roboto", sans-serif;
  // @include gradient-text(0deg, #ea5a6f, #fccf3a);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 1rem;
}

.sect-4-img {
  height: 50rem;
  width: 38rem;
  object-fit: cover;
  border-radius: 5px;
}

.section-4-circle {
  margin-left: auto;
  margin-right: 7rem;
  height: 48rem;
  width: 48rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #0057ff, #7fc9ff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sect-4-gif {
  height: 27rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  right: -5%;
  bottom: -8%;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.39));
}

.section-2-bg {
  height: 500vh;
  width: 100%;
  position: relative;
}

.section-2-piece {
  height: 120vh;
  width: 100%;
}

.section-2-main {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7f6fd;
}

.sect-2-container {
  display: flex;
  height: 100%;
  width: 90vw;
}

.sect-2-col1 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  filter: drop-shadow(-4px 4px 0px $color-primary-dark);
}

.sect-2-col2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sect-2-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 1rem;
  filter: drop-shadow(-1px 1px 1px rgba(0, 0, 0, 0.39));
  transition: all 0.5s;
  @include border-round;
  box-shadow: inset 0 0 0 2.2rem $bg-item,
}

.sect-2-screen {
  height: 65rem;
  width: 50rem;
  margin: auto;
  transition: all;
}

.active-sect-2 {
  // filter: drop-shadow(5px 10px 10px rgba(32, 105, 105, 0.454)) drop-shadow(2px 4px 4px red);
  transform: translateY(-0.6rem) translateX(1rem);
  filter: drop-shadow(-6px 6px 0px $color-primary-dark);
  transition: all 0.2s;
}

.section-3 {
  height: 100vh;
  width: 100%;
  background-color: #28282b;
  position: relative;
  box-shadow: inset 0px 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.design-heading-container {
  height: 18rem;
  width: auto;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.design-heading {
  position: relative;
  @include heading-logo(paintstroke2, 18rem, 68rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68rem;
}

.design-brush-1 {
  position: absolute;
  transition: all 1s;
  top: 0%;
  right: 0;
  height: 5rem;
  width: 5rem;
  z-index: 3;
  transform: translateX(50%);
}

.design-brush-2 {
  position: absolute;
  transition: all 1s;
  top: 0%;
  left: 0;
  height: 5rem;
  width: 5rem;
  z-index: 3;
  transform: translateX(-50%);
}

.design-click{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(80%) translateY(80%);
  z-index: 5;
}

.logo-click{
  @include heading-logo(click, 10rem, 10rem);
  background-image: linear-gradient(
    to right,
    white,
    white
  );
  transition: all 0.5s;
}

.design-auto {
  height: auto;
  width: auto;
  position: relative;
  transition: all 0.5s;
}

.design-card {
  height: 40rem;
  width: 70rem;
  background-color: red;
}

.flip-card {
  background-color: transparent;
  width: 30rem;
  height: 30rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-img {
  height: 30rem;
  width: 30rem;
}

.home-paintbrush {
  position: absolute;
  top: 0;
  left: 0;
  @include heading-logo(home-paintbrush, 36rem, 20rem);
  transform: rotate(-40deg);
  // background-image: linear-gradient(-15deg, #A9885C 57%, silver 56%, silver 60%, white 64%, orange 90%);
}

.home-paintbrush-2 {
  position: absolute;
  top: 0;
  right: 0;
  @include heading-logo(home-paintbrush, 36rem, 20rem);
  // background-image: linear-gradient(-15deg, #A9885C 57%, silver 56%, silver 60%, white 64%, rgb(13, 0, 255) 90%);
  transform: scaleX(-1) rotate(-40deg);
}

.sect-6-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
}

.section-5 {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
      circle at 75% 40%,
      #4bb3ff,
      #7fc9ff,
      transparent 45%
    ),
    radial-gradient(circle at 0% 35%, #c0eafd, #e7f6fd, transparent 30%);
  display: flex;
  position: relative;
}

.sect-5-text {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
}

.orders-container {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
}

.order-img{
  height: 25rem;
  width: 45rem;
  background-color: red;
}

.tall-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.sample-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
}

.sample-orders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 40rem;
  background-color: green;
  z-index: 2;
}

.order-text{
width: 50%;
height: 100%;
position: absolute;
right: 0;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.section-6 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom right, #00C1FF, #407CFF);
}

.svg-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wave-dropshadow {
  filter: drop-shadow(3px 30px 50px rgba(0, 0, 0, 0.3));
}

.section-6-2 {
  height: 90vh;
  width: 90%;
  position: absolute;
  opacity: 1;
  background-image: linear-gradient(to bottom right, #84E1FF, #0051FF);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 3;
  display: flex;
}

.svg-container-2 {
    position: absolute;
    bottom: -5vh;
    left: -5vw;
    width: 100%;
    height: 100vh;
  }

  .stat-text{
    width: 50%;
    height: 50%;
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-left: 3rem;
  }

  .stat-img{
    height: 85%;
    width: 50%;
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    margin: 5rem;
  }

.section-7{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #e7f6fd;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.sect-7-text {
  font-size: 5rem;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
  margin: auto;
  transition: margin 0.8s;
}

.user-data{
  height: 70%;
  width: 80%;
  background-color: green;
  margin: auto;
  transition: all 0.8s;
  overflow: hidden;
  display: flex;
}

.user-stats{
  width: 50%;
  height: 100%;
  background-color: #0057ff;
}

.user-stat-text{
  width: 50%;
  height: 100%;
  background-color: #FF0061;
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.section-8{
  height: auto;
  width: 100%;
  background-color: #28282b;
  padding-top: 3rem
}

.sect-8-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  line-height: 1;
  margin: 1rem;
}

.feature-cards{
  width: 100%;
  display: flex;
  transition: all 0.5s;
  margin-top: 4rem;
  position: relative;
  overflow: hidden;
  height: 40rem;
}

.feature-item{
  height: 95%;
  width: 20vw;
  background-color: #53535a;
  border-radius: 15px;
  transition: all 1s;
  position: absolute;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, 0.39));
}

.feature-heading {
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #0a2647;
}

.feature-description{
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  color: white;
}

.feature-intuitive{
  @include heading-logo(intuitive, 6rem, 6rem);
  margin: 1rem;
  background-image: linear-gradient(
    to right,
    #ea5a6f,
    #fccf3a
  );
}

.feature-1{
border: solid 5px transparent;
background-image: linear-gradient(#53535a, #53535a),
  linear-gradient(45deg, #ea5a6f, #fccf3a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset 0 0 0 2.2rem #53535a,
}

.feature-receipt{
@include heading-logo(receipt, 6rem, 6rem);
margin: 1rem;
background-image: linear-gradient(
  to right, #00cd7d, #5fd0df
);
}

.feature-2{
  border: solid 5px transparent;
  background-image: linear-gradient(#53535a, #53535a),
    linear-gradient(45deg, #00cd7d, #5fd0df);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: inset 0 0 0 2.2rem #53535a,
  }

.feature-data-driven{
@include heading-logo(data-driven, 6rem, 6rem);
margin: 1rem;
background-image: linear-gradient(
  to right, #f02fc2, #897af2
);
}

.feature-3{
  border: solid 5px transparent;
  background-image: linear-gradient(#53535a, #53535a),
    linear-gradient(45deg, #f02fc2, #897af2);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: inset 0 0 0 2.2rem #53535a,
  }

.feature-familiar{
@include heading-logo(familiar, 6rem, 6rem);
margin: 1rem;
background-image: linear-gradient(
  to right, #ee0979, #ff6a00
);
}

.feature-4{
  border: solid 5px transparent;
  background-image: linear-gradient(#53535a, #53535a),
    linear-gradient(45deg, #ee0979, #ff6a00);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: inset 0 0 0 2.2rem #53535a,
  }

.testimony-container{
  height: 30rem;
width: 100%;
  transform: translateY(3rem);
}

.testimony{
  height: 30rem;
  width: 120rem !important;
  background-color: #53535a;
  // margin-top: 1rem;
  margin-bottom: 5rem;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.39));
  transform: translateX(-10%);
  transition: all 1.2s;
  display: flex !important;
  position: relative;
  border: 5px solid $color-primary-light;
}

.testimony-img{
  height: 12rem;
  margin-top: auto;
  display: inline !important;
  transition: all 1.2s;
  object-fit: cover;
  object-position: center;
}

.testimony-data{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem;
}

.move-buttons{
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.move-item{
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  border: solid 5px transparent;
  background-image: linear-gradient(#53535a, #53535a),
    linear-gradient(45deg, #e7f6fd, #e7f6fd);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 0.2s;
}

.move-item:hover{
  filter: brightness(120%);
}

.section-9{
  height: 80vh;
  width: 100%;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e7f6fd;
}

.prices{
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.price-card{
  height: 40rem;
  width: 30rem;
  background-color: white;
  border-radius: 15px;
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.39));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.price-card-2{
  @include border-round;
  height: 40rem;
  width: 30rem;
  background-color: white;
  border-radius: 15px;
  // filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.39));
  transform: translateY(-0.6rem) translateX(1rem);
  filter: drop-shadow(-6px 6px 0px $color-primary-dark) drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.39));
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: inset 0 0 0 2.2rem $bg-item,
}

.price-text-name{
  font-size: 2rem;
  color: rgb(70, 84, 89);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.price-text-main{
  font-size: 5rem;
  color: black;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 1rem;
}

.price-text-info{
  font-size: 2rem;
  color: rgba(70, 84, 89, 0.842);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(70, 84, 89, 0.842);
}

.price-text-info-2{
  font-size: 2rem;
  color: #0a2647cf;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 1rem;
  width: 80%;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #0a2647cf;
}


.section-10 {
  height: 100vh;
  width: 100%;
  padding-top: 5%;
  background-image: linear-gradient(90deg, #0057ff, #7fc9ff);
}

.sect-10-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  @include gradient-text(-90deg, #0f3663, #0057ff);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
}

.signup-input{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;

}

.signup-box{
  height: 90%;
  width: 80%;
  background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%), url(https://i.imgur.com/rBkbXS3.jpeg);
  background-size: 100%;
  margin: auto;
  padding: 5rem;
  filter: drop-shadow(-5px 10px 5px rgba(0, 0, 0, 0.39));
}

.footer-home{
  height: auto;
  width: 100%;
  background-color: antiquewhite;
  padding: 7rem 2rem;
  background-color: white;
  border-top: 8px solid #0f3663;
}

.footer-icon-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-icon{
  height: 20rem;
  width: auto;
}

.footer-details-row{
  width: 100%;
  display: flex;
  gap: 30rem;
}

.footer-details-1{
  height: 12rem;
  width: 100%;
  border-top: 5px solid #0f3663;
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
}

.footer-details-2{
  height: 12rem;
  width: 100%;
  border-top: 5px solid #0f3663;
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background-color: $bg-item
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary-dark;
  border-radius: 10px;
  border: 3px solid white;
  filter: brightness(120%) !important;
}

.svg-bg{
  background-image: linear-gradient(
  to right,
  #e7f6fd,
  #e7f6fd
) !important;}

.icon-quote {
  @include heading-logo(quote, 10rem, 10rem);
  margin: 1rem;
  background-image: linear-gradient(to right, white, white);
  opacity: 0.5;
  position: absolute;
  top: 0;
  right: 0;
}

.cta-2 {
  cursor: pointer;
  filter: drop-shadow(-5px 8px 10px rgba(0, 0, 0, 0.39));
  height: 5.5rem;
  width: 35rem;
  background-color: #0a2647;
  color: white;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  border: transparent;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  gap: 0rem;
  letter-spacing: 0px;
  margin-top: 1rem;
  text-decoration: none;
}

.cta-2:hover {
  background-color: #0057ff;
  gap: 1rem;
  letter-spacing: 0.5px;
}

.home-navbar {
  background-color: rgba(255, 255, 255, 0.39);
  height: $navbar-height;
  display: flex;
  align-items: center;
  z-index: 100;
  // overflow: hidden;
  width: 100%;
  transition: all 0.2s;
  position: sticky;
  margin-bottom: -$navbar-height;
  padding-left: 1.5rem;
  backdrop-filter: blur(10px);
  gap: 2rem;
}

.home-nav-logo{
  height: 8rem;
  width: 9rem;
  transition: all 0.2s;
  cursor: pointer;
}

.home-nav-logo:hover{
  filter: brightness(120%);
}

.header-home-text{
    font-size: 3rem;
    color: #0a2647;
    font-family: "Roboto", sans-serif;
    line-height: 1;
    padding-bottom: 0.3rem;
    background-image: linear-gradient(0deg, #17ead9, #0057ff);
    background-clip: text;
    transition: all 0.3s;
    cursor: pointer;
}

.header-home-text:hover{
  color: transparent;
}