@mixin gradient-text($direction, $color1, $color2) {
  color: transparent;
  background-image: linear-gradient($direction, $color1, $color2);
  background-clip: text;
}

@mixin gradient-text-3($direction, $color1, $color2, $color3) {
  color: transparent;
  background-image: linear-gradient($direction, $color1, $color2, $color3);
  background-clip: text;
}

.section-1 {
  height: 105vh;
  width: 100%;
  background: radial-gradient(
      circle at 75% 40%,
      #4bb3ff,
      #7fc9ff,
      transparent 45%
    ),
    radial-gradient(circle at 0% 35%, #c0eafd, #e7f6fd, transparent 30%);
  clip-path: polygon(0 0, 100% 0, 100% 52%, 57% 100%, 0 100%);
  display: flex;
  padding-bottom: 10vh;
  padding: 5rem 15vw;
  position: relative;
}

.section-1-col {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-right: 10vw;
}

.section-1-col2 {
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sect-1-img {
  margin-bottom: 5rem;
  height: 40rem;
  width: 50rem;
  object-fit: cover;
}

.adj-text {
  font-size: 1.5rem;
  color: rgb(121, 149, 159);
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

.sect-1-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  @include gradient-text(0deg, #17ead9, #0057ff);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
}

.sect-1-text-2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0a2647;
  // @include gradient-text(0deg, #eab217, #ff0000);
  padding-right: 10rem;
}

.gradient-orange {
  font-weight: 900;
  @include gradient-text(to right, #ea5a6f, #fccf3a);
}

.gradient-purple {
  font-weight: 900;
  @include gradient-text(to right, #f02fc2, #897af2);
}

.gradient-red {
  font-weight: 900;
  @include gradient-text(to right, #cc2b5e, #753a88);
}

.gradient-orangered {
  font-weight: 900;
  @include gradient-text(to right, #ee0979, #ff6a00);
}

.gradient-redviolet {
  font-weight: 900;
  @include gradient-text-3(to right, #c33764, #1d2671, #c33764);
}

.gradient-baseblue-down {
  font-weight: 900;
  @include gradient-text(to bottom, #0057ff, #7fc9ff);
}

.gradient-green {
  font-weight: 900;
  @include gradient-text(to right, #00cd7d, #5fd0df);
}

.gradient-a {
  font-weight: 900;
  @include gradient-text(to right, #bc3d2f, #a16bfe);
}

.paragraph-text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #0a2647;
}

.word-glue {
  white-space: nowrap;
  word-break: keep-all;
}

.cta-1 {
  height: 5.5rem;
  width: 25rem;
  background-color: #0a2647;
  color: white;
  border-radius: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  border: transparent;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  gap: 0rem;
  letter-spacing: 0px;
  margin-top: 1rem;
}

.cta-1:hover {
  background-color: #0057ff;
  gap: 1rem;
  letter-spacing: 0.5px;
}

.icon-next {
  @include heading-logo(next, 3rem, 3rem);
  margin-left: 1rem;
  background-image: linear-gradient(to right, white, white);
}

.section-4 {
  height: 85vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  background: radial-gradient(
      circle at 85% 55%,
      #7bc8ff71,
      #7fcaff75,
      transparent 25%
    ),
    radial-gradient(circle at 15% 40%, #00fba775, #00ffcc7d, transparent 20%);
  clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0 25%);
}

.section-4-img {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section-4-text {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  gap: 2rem;

  // align-items: center;
}

.sect-4-text {
  font-size: 5rem;
  color: #003f76;
  font-family: "Roboto", sans-serif;
  // @include gradient-text(0deg, #ea5a6f, #fccf3a);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 1rem;
}

.sect-4-img {
  height: 50rem;
  width: 38rem;
  object-fit: cover;
  border-radius: 5px;
}

.section-4-circle {
  margin-left: auto;
  margin-right: 7rem;
  height: 48rem;
  width: 48rem;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #0057ff, #7fc9ff);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sect-4-gif {
  height: 27rem;
  width: 30rem;
  object-fit: cover;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  right: -5%;
  bottom: -8%;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.39));
}

.section-2-bg {
  height: 500vh;
  width: 100%;
  position: relative;
}

.section-2-piece {
  height: 120vh;
  width: 100%;
}

.section-2-main {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7f6fd;
}

.sect-2-container {
  display: flex;
  height: 100%;
  width: 90vw;
}

.sect-2-col1 {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sect-2-col2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sect-2-info {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 2rem;
}

.sect-2-screen {
  height: 65rem;
  width: 50rem;
  margin: auto;
  transition: all;
}

.active-sect-2 {
  // filter: drop-shadow(5px 10px 10px rgba(32, 105, 105, 0.454)) drop-shadow(2px 4px 4px red);
  filter: drop-shadow(-4px 4px 0px green) drop-shadow(-6px 6px 0px red);
  border: 2px solid rgb(128, 240, 255);
  transition: all 0.2s;
}

.section-3 {
  height: 100vh;
  width: 100%;
  background-color: #28282b;
  position: relative;
  box-shadow: inset 0px 0 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.design-heading-container {
  height: 18rem;
  width: auto;
  background-color: #00cd7d;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.design-heading {
  position: relative;
  @include heading-logo(paintstroke2, 18rem, 68rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68rem;
}

.design-brush-1 {
  position: absolute;
  transition: all 1s;
  top: 30%;
  right: 0;
  height: 5rem;
  width: 5rem;
  background-color: red;
  z-index: 3;
  transform: translateX(50%);
}

.design-brush-2 {
  position: absolute;
  transition: all 1s;
  top: 30%;
  left: 0;
  height: 5rem;
  width: 5rem;
  background-color: blue;
  z-index: 3;
  transform: translateX(-50%);
}

.design-auto {
  height: auto;
  width: auto;
  position: relative;
  transition: all 0.5s;
}

.design-card {
  height: 40rem;
  width: 70rem;
  background-color: red;
}

.flip-card {
  background-color: transparent;
  width: 30rem;
  height: 30rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-img {
  height: 30rem;
  width: 30rem;
}

.section-5 {
  height: 100vh;
  width: 100%;
  background: radial-gradient(
      circle at 75% 40%,
      #4bb3ff,
      #7fc9ff,
      transparent 45%
    ),
    radial-gradient(circle at 0% 35%, #c0eafd, #e7f6fd, transparent 30%);
  display: flex;
  position: relative;
}

.orders-container {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  height: 100%;
}

.tall-image {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.sample-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
}

.sample-orders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 40rem;
  background-color: green;
  z-index: 2;
}

.section-6 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom right, red, orange);
}

.svg-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.wave-dropshadow {
  filter: drop-shadow(3px 30px 50px rgba(0, 0, 0, 0.3));
}

.section-6-2 {
  height: 90vh;
  width: 90%;
  position: absolute;
  opacity: 1;
  background-image: linear-gradient(to bottom right, green, blue);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 3;
}

.svg-container-2 {
    position: absolute;
    bottom: -5vh;
    left: -5vw;
    width: 100%;
    height: 100vh;
  }

.section-7{
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #e7f6fd;
  margin-top: -0.5rem;
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}

.sect-7-text {
  font-size: 5rem;
  color: transparent;
  font-family: "Roboto", sans-serif;
  @include gradient-text(0deg, #17ead9, #0057ff);
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.3rem;
  margin: auto;
  transition: margin 0.8s;
}

.user-data{
  height: 70%;
  width: 80%;
  background-color: green;
  margin: auto;
  transition: all 0.8s;
  overflow: hidden;
}