//////////////////////        BASE           ///////////////////////////////////
@mixin border {
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      $color-primary-dark,
      $color-primary-light
    )
    1;
  // box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
}

@mixin border-round {
  border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

@mixin button-dark {
  width: 1fr;
  height: 7rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: $theme-bg;

  border: solid 0px transparent;
  padding: 1rem;

  border-radius: $border-radius;
  background-image: linear-gradient(
    90deg,
    $color-primary-dark,
    $color-primary-light
  );
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    filter: brightness(120%);
    box-shadow: 0 0 0 2px white, 0 0 0 4px $color-primary-dark;
  }
}

@mixin button-dark-red {
  width: 1fr;
  height: 7rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: $theme-bg;

  border: solid 0px transparent;
  padding: 1rem;

  border-radius: $border-radius;
  background-image: linear-gradient(
    90deg,
    red,
    darkred
  );
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    filter: brightness(120%);
    box-shadow: 0 0 0 2px white, 0 0 0 4px red;
  }
}

@mixin button-light {
  width: 1fr;
  height: 7rem;
  @include border-round;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  box-shadow: inset 0 0 0 2rem $theme-bg;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    filter: brightness(120%);
    box-shadow: inset 0 0 0 20px $theme-bg, 0 0 0 2px $color-primary-dark,
      0 0 0 4px white;
  }
}

//////////////////////        GRADIENT SVGS          ///////////////////////////////////

@mixin navlogo-gradient($svg, $top, $size) {
  mask-size: $size;
  mask-position: center;
  mask-image: url("../../components/svgs/" + $svg + ".svg");
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
  transform: translateY(0.3rem);
  height: $top;
  fill: transparent;
  width: 110%;
}

@mixin navlogo-solid($svg, $top, $size) {
  mask-size: $size;
  mask-position: center;
  mask-image: url("../../components/svgs/" + $svg + ".svg");
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    $text-primary-color,
    $text-primary-color
  );
  transform: translateY(0.3rem);
  height: $top;
  fill: transparent;
  width: 110%;
}

@mixin heading-logo($icon, $size1, $size2) {
  @include navlogo-gradient($icon, $size1, $size2);
  height: $size1;
  width: $size2;
  // background-color: red;
  transform: translateY(0rem);
}

@mixin empty-logo($icon, $size1, $size2) {
  @include navlogo-solid($icon, $size1, $size2);
  height: $size1;
  width: $size2;
  // background-color: red;
  transform: translateY(0rem);
}

@mixin warning-logo($icon, $size1, $size2) {
  @include warning-logo-gradient($icon, $size1, $size2);
  height: $size1;
  width: $size2;
}

@mixin warning-logo-gradient($svg, $top, $size) {
  mask-size: $size;
  mask-position: center;
  mask-image: url("../../components/svgs/" + $svg + ".svg");
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to right,
    red,
    darkred
  );
  transform: translateY(0.3rem);
  height: $top;
  fill: transparent;
  width: 110%;
}

//////////////////////        NAVMENU         ///////////////////////////////////
@mixin menu-logo($icon, $size1, $size2) {
  @include navlogo-gradient($icon, $size1, $size2);
  height: $size1;
  width: $size2;
  // background-color: red;
  transform: translateY(0rem);
}

//////////////////////        HOMEPAGE         ///////////////////////////////////
// @mixin home-button-column($grid-column){
//   grid-column: $grid-column;
// }

@mixin home-setup($imagename) {
  background-image: url("/" + $imagename),
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@mixin home-setup-imageless() {
  grid-column: span 2;
  background-image: $theme-bg,
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@mixin home-setup-logo($svg) {
  @include navlogo-gradient($svg, $home-logo-size, $home-logo-size);
  z-index: 15;
  background-image: linear-gradient(
    to bottom,
    $color-primary-dark,
    $color-primary-light
  );
  position: absolute;
}

@mixin home-setup-logo-outline(
  $svg,
  $adjustmentX,
  $adjustmentY,
  $adjustmentSize
) {
  @include navlogo-gradient($svg + "-fill", $adjustmentSize, $adjustmentSize);
  z-index: 14;
  background-image: linear-gradient(to right, $theme-bg, $theme-bg);
  position: absolute;
  transform: translateY($adjustmentY) translateX($adjustmentX);
}

@mixin home-stack() {
  // @include border;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|\00a0\00a0";
  z-index: 10;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}

@mixin home-stack-border() {
  // @include border;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(
    45deg,
    $color-primary-dark,
    $color-primary-light
  );
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|\00a0\00a0";
  z-index: 9;
  clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

//////////////////////        TEMPLATES         ///////////////////////////////////

@mixin button-style() {
  @include border-round;
  height: 22rem;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  // transition: all 0.2s !important;
  transition: all 0.2s !important;
  background-image: $theme-bg,
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);

  &:hover {
    transform: translateY(-0.6rem) translateX(1rem) !important;
    filter: drop-shadow(-6px 6px 0px $color-primary-dark);
  }
  &:active {
    transform: translateY(0rem) translateX(0rem) !important;
    filter: drop-shadow(-1px 1px 0px $color-primary-dark);
  }
}



//////////////////////        INPUTS         ///////////////////////////////////

@mixin text-input(){
  width: 100%;
  height: 7rem;
  @include border-round;
  margin-top: 0.8rem;
}

@mixin text-input-style(){
  color: $text-primary-color;
  font-size: 2.5rem;
  // font-family: 'Roboto';
  font-weight: 900;
  padding: 1rem;
  box-shadow: inset 0 0 0 2rem $theme-bg;
  transition: all 0.2s;
}

@mixin text-input-focus(){
  filter: brightness(120%);
  outline-color: $color-primary-dark;
}

@mixin text-input-small(){
  width: 30%;
    height: 5rem;
    @include border-round;
}

@mixin text-input-small-style(){
  color: $text-secondary-color;
    line-height: 1;
    margin-top: 0px;
    font-size: 2rem;
    // font-family: "Roboto";
    font-weight: 700;
    padding: 1rem;
  box-shadow: inset 0 0 0 2rem $theme-bg;
  transition: all 0.2s;
}

@mixin text-input-small-focus(){
  filter: brightness(120%);
  outline-color: $color-primary-dark;
}

@mixin box-input(){
  resize: none;
  box-sizing: border-box;
  @include border-round;
  width: 100%;
  // margin-top: 3rem;
  color: $text-tertiary-color;
line-height: 1;
font-size: 2rem;
font-family: "Roboto";
font-weight: 500;
padding: 1rem;

box-shadow: inset 0 0 0 2rem $theme-bg;
transition: all 0.2s;
}

@mixin box-input-focus(){
  filter: brightness(120%);
  outline-color: $color-primary-dark;
}

@mixin number-arrow-disable(){
  -webkit-appearance: none !important;
    margin: 0 !important;
}

@mixin number-input(){
  -moz-appearance: textfield!important;
        appearance: textfield !important;
}

@mixin number-input-style(){
  color: $text-secondary-color;
        line-height: 1;
        margin-top: 0px;
        font-size: 2rem;
        font-family: "Roboto";
        font-weight: 700;
        padding: 1rem;
      box-shadow: inset 0 0 0 2rem $theme-bg;
      margin-right: 2rem;
      transition: all 0.2s;
      width: 95%;
}

@mixin number-input-focus(){
  filter: brightness(120%);
      outline-color: $color-primary-dark;
}








