//////////////////////        BASE           ///////////////////////////////////
@mixin border {
  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      $color-primary-dark,
      $color-primary-light
    )
    1;
    box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
}

@mixin border-round {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

//////////////////////        NAVBAR          ///////////////////////////////////

@mixin navlogo-gradient($type){
mask-image: url("../../components/svgs/" + $type + ".svg");
mask-size: 4.2rem;
mask-position: bottom;
mask-image: url("../../components/svgs/" + $type + ".svg");
mask-repeat: no-repeat;
background-repeat: no-repeat;
background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
transform: translateY(0.3rem);
}

@mixin navlogo-gradient__adjust($type){
  mask-image: url("../../components/svgs/" + $type + ".svg");
  mask-size: 4.5rem;
  mask-position: bottom;
  mask-image: url("../../components/svgs/" + $type + ".svg");
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
  transform: translateY(-0.1rem);
  }