.heading-primary {
  color: $text-primary-color;
  font-size: 3.5rem;
  font-family: "Roboto";
  font-weight: 900;
  margin-left: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 85vw;
}

.heading-primary-2 {
  color: $text-primary-color;
  font-size: 3.5rem;
  font-family: "Roboto";
  font-weight: 900;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.heading-primary-notif {
  font-size: 3.5rem;
  font-family: 'Roboto';
  font-weight: 900;
  margin-left: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 85vw;
}

.heading-primary-select {
  font-size: 3.5rem;
  max-width: 85vw;
  font-weight: 900 !important;
}

.heading-secondary {
  color: $text-secondary-color;
  line-height: 1;
  margin-top: 0px;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.heading-secondary-notif {
  line-height: 1;
  margin-top: 0px;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.heading-secondary-select {
  font-size: 3rem;
  max-width: 85vw;
  font-weight: 700 !important;
}

.heading-tertiary {
  color: $text-tertiary-color;
  line-height: 1;
  -webkit-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  word-wrap: break-word;
}

.heading-tertiary-colorless {
  color: $text-tertiary-color;
  line-height: 1;
  -webkit-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  word-wrap: break-word;
}

.heading-tertiary-notif {
  line-height: 1;
  -webkit-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  word-wrap: break-word;
}

.heading-tertiary-select {
  font-size: 2rem;
  max-width: 85vw;
  font-weight: 500 !important;
}


.no-margin{
  margin: 0;
}

.form-label{
  color: $text-tertiary-color;
  line-height: 1;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0rem 1rem;
  display:inline-block;
  -webkit-transform: translateY(0.3rem);
      -ms-transform: translateY(0.3rem);
          transform: translateY(0.3rem);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0.5rem;
}

.text-full:-moz-placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.text-full:-ms-input-placeholder ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-5rem);
      transform: translateY(-5rem);
}

.text-full:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
      -ms-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.text-small:-moz-placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.text-small:-ms-input-placeholder ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-5rem);
      transform: translateY(-5rem);
}

.text-small:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
      -ms-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.desc-text-area:-moz-placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.desc-text-area:-ms-input-placeholder ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translateY(-5rem);
      transform: translateY(-5rem);
}

.desc-text-area:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-5rem);
      -ms-transform: translateY(-5rem);
          transform: translateY(-5rem);
}