@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.heading-primary {
  color: $text-primary-color;
  font-size: 3.5rem;
  font-family: 'Roboto';
  font-weight: 900;
  margin-left: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 85vw;
}

.heading-secondary {
  color: $text-secondary-color;
  line-height: 1;
  margin-top: 0px;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
}

.heading-tertiary {
  color: $text-tertiary-color;
  line-height: 1;
  transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  word-wrap: break-word;
}

.no-margin{
  margin: 0;
}

.form-label{
  color: $text-tertiary-color;
  line-height: 1;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0rem 1rem;
  display:block;
  transform: translateY(0.3rem);
  transition: all 0.4s;
}

.text-full:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.text-small:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.desc-text-area:placeholder-shown ~ .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}