$color-primary-dark: #0057FF;
$color-primary-light: #7FC9FF;

// $color-primary-dark: blue;
// $color-primary-light: red;

$text-primary-color: #0A2647;
$text-secondary-color: #0A2647;
$text-tertiary-color: #0A2647;

// $text-primary-color: white;
// $text-secondary-color: white;
// $text-tertiary-color: white;

$background-color: lighten($color-primary-light, 20%);


$theme-bg: white;

$navbar-height: 10rem;
$home-logo-size: 10.5rem;
$menu-width: 50rem;

$border-radius: 15px;