$color-primary-dark: #0057FF;
$color-primary-light: #7FC9FF;

$text-primary: #0A2647;
$text-secondary: #0A2647;
$text-tertiary: #0A2647;

$theme-bg: white;

$navbar-height: 10rem;

$home-logo-size: 10.5rem;