.main-signup-container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-primary-light
  );
//   margin-top: -3rem;
  padding-top: 3rem;
    
}

.mymart-pic{
    height: 7rem;
    width: 8rem;
    object-fit: cover;
}

.total-progress{
    background-image: linear-gradient(to left, $color-primary-dark, $color-primary-light);
}

.form-label.inv{
    color: red;
}

.text-options.invalid-dropdown {background-image: linear-gradient(white, white),
  linear-gradient(to right, red, darkred) !important;
  filter: brightness(120%) !important
  }

  .white{color: white !important;}

  .heading-icon-finale {
    @include heading-logo(finale, 4rem, 4rem);
    margin-left: 1rem;
  }

  .svg-tertiary {
    background-image: linear-gradient(
    to right,
    $text-tertiary-color,
    $text-tertiary-color
  )}

  .svg-secondary {
    background-image: linear-gradient(
    to right,
    $text-secondary-color,
    $text-secondary-color
  )}