@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #e5f4ff;
}

.page-heading {
  display: flex;
}

.heading-primary {
  color: #0A2647;
  font-size: 3.5rem;
  font-family: "Roboto";
  font-weight: 900;
  margin-left: 2rem;
}

.heading-secondary {
  color: #0A2647;
  line-height: 1;
  margin-top: 0px;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
}

.heading-tertiary {
  color: #0A2647;
  line-height: 1;
  transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
}

.no-margin {
  margin: 0;
}

.form-label {
  color: #0A2647;
  line-height: 1;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0rem 4rem;
  display: block;
  transform: translateY(0.3rem);
  transition: all 0.4s;
}

.text-full:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.text-full:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.desc-text-area:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.desc-text-area:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5rem);
}

.navbar {
  background-color: white;
  height: 10rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  display: flex;
  align-items: center;
  z-index: -10;
  overflow: hidden;
  width: 100%;
}

.navbutton {
  width: 7.5rem;
  height: 7.5rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(white, white), linear-gradient(to right, #0057FF, #7FC9FF);
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  filter: drop-shadow(-2px 2px 0px #0057FF);
}
.navbutton:hover {
  transform: translateY(-0.3rem) translateX(0.5rem);
  filter: drop-shadow(-4px 4px 0px #0057FF) brightness(110%);
  transition: all 0.2s;
}
.navbutton:hover:active {
  transform: translateY(0rem) translateX(0rem);
  filter: drop-shadow(-1px 1px 0px #0057FF);
}

.navbutton__hr {
  position: relative;
  border-radius: 2px;
}
.navbutton__hr, .navbutton__hr::before, .navbutton__hr::after {
  width: 75%;
  height: 5px;
  background-color: #0057FF;
  display: inline-block;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 2px;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.navbutton__hr::before, .navbutton__hr::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}
.navbutton__hr::before {
  bottom: -1.5rem;
}
.navbutton__hr::after {
  bottom: 1.5rem;
}
.navbutton__hr-2 {
  position: relative;
  border-radius: 2px;
}
.navbutton__hr-2, .navbutton__hr-2::before, .navbutton__hr-2::after {
  width: 75%;
  height: 5px;
  display: inline-block;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  border-radius: 2px;
  border-bottom: none;
  border-right: none;
  border-left: none;
  transition: all 0.1s;
}
.navbutton__hr-2::before, .navbutton__hr-2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}
.navbutton__hr-2::before {
  bottom: -1.5rem;
}
.navbutton__hr-2::after {
  bottom: 1.5rem;
}

.navbutton:hover .navbutton__hr::after {
  bottom: 1.7rem;
}

.navbutton:hover .navbutton__hr::before {
  bottom: -1.7rem;
}

.navbutton:hover .navbutton__hr-2 {
  position: relative;
  border-radius: 2px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
}
.navbutton:hover .navbutton__hr-2 {
  width: 75%;
  height: 5px;
  background-color: transparent;
  display: inline-block;
  border: none;
  transition: all 0.1s;
}
.navbutton:hover .navbutton__hr-2::before, .navbutton:hover .navbutton__hr-2::after {
  width: 75%;
  height: 5px;
  background-color: #0057FF;
  display: inline-block;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 2px;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.navbutton:hover .navbutton__hr-2::before, .navbutton:hover .navbutton__hr-2::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}
.navbutton:hover .navbutton__hr-2::before {
  bottom: 0rem;
  rotate: 315deg;
}
.navbutton:hover .navbutton__hr-2::after {
  bottom: 0rem;
  rotate: -315deg;
}

.company-logo-med {
  margin-left: 3rem;
  display: block;
  align-items: center;
  justify-self: center;
  width: 20rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
}

.company-logo-med:hover {
  filter: brightness(110%);
}

.navcontainer {
  margin-left: auto;
  display: flex;
}

.navitem {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.36rem;
  width: 15rem;
  height: 9.1rem;
  cursor: pointer;
  transition: all 0.2s;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  background-color: white;
}

.navitem:hover {
  background-image: linear-gradient(white, white);
  filter: brightness(120%);
}

.nav-category {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-insights {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/insights.svg");
          mask-image: url("../../components/svgs/insights.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-ongoing {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/ongoing.svg");
          mask-image: url("../../components/svgs/ongoing.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-brush {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/brush.svg");
          mask-image: url("../../components/svgs/brush.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-power {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/power.svg");
          mask-image: url("../../components/svgs/power.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-receipt {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/receipt.svg");
          mask-image: url("../../components/svgs/receipt.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-manage {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/manage.svg");
          mask-image: url("../../components/svgs/manage.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.framer-test {
  width: 5rem;
  height: 5rem;
}

.z-indexer {
  z-index: 99;
}

.navmenu {
  top: 0;
  left: 0;
  width: 50rem;
  height: 100vh;
  background-color: white;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  transition: all 1s;
  box-shadow: 0 0 0 2px #0057FF, 0 0 0 4px white;
  z-index: 98;
}

.navmenu-item {
  z-index: 20;
  width: 100%;
  height: 6rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 3rem;
  background-color: white;
  text-align: left;
  box-shadow: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.navmenu-item:hover {
  background-color: #e5f4ff;
}

.menu-decoy {
  height: 10rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  border-left: none;
  border-top: none;
  border-right: none;
}

.menu-category {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-insights {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/insights.svg");
          mask-image: url("../../components/svgs/insights.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-brush {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/brush.svg");
          mask-image: url("../../components/svgs/brush.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-manage {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/manage.svg");
          mask-image: url("../../components/svgs/manage.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-ongoing {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/ongoing.svg");
          mask-image: url("../../components/svgs/ongoing.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-policy {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/policy.svg");
          mask-image: url("../../components/svgs/policy.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-power {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/power.svg");
          mask-image: url("../../components/svgs/power.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-quiz {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/quiz.svg");
          mask-image: url("../../components/svgs/quiz.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-support {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/support.svg");
          mask-image: url("../../components/svgs/support.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-receipt {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/receipt.svg");
          mask-image: url("../../components/svgs/receipt.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-settings {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/settings.svg");
          mask-image: url("../../components/svgs/settings.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-home {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/home.svg");
          mask-image: url("../../components/svgs/home.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
}

.menu-animation {
  position: relative;
  z-index: 25;
}

.maincontainer {
  height: calc(100vh - 10rem - 4rem);
  display: grid;
  grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
  grid-template-rows: repeat(8, min-content, 1fr);
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  filter: drop-shadow(-4px 4px 0px #0057FF);
}

.homepage-button {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 1fr;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
}
.homepage-button:hover {
  transform: translateY(-0.6rem) translateX(1rem);
  filter: drop-shadow(-6px 6px 0px #0057FF);
}
.homepage-button:active {
  transform: translateY(0rem) translateX(0rem);
  filter: drop-shadow(-1px 1px 0px #0057FF);
}

.home-label {
  position: absolute;
  z-index: 16;
  top: 60%;
  font-size: 3rem;
}

.home-category {
  grid-column: 1/5;
  background-image: url("../../assets/category.jpg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-category__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-category__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category-fill.svg");
          mask-image: url("../../components/svgs/category-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(0rem) translateX(0);
}
.home-category::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-category::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-ongoing {
  grid-column: 5/7;
  background-image: url("../../assets/ongoing.jpg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-ongoing__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/ongoing.svg");
          mask-image: url("../../components/svgs/ongoing.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-ongoing__logo-outline {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/ongoing-fill.svg");
          mask-image: url("../../components/svgs/ongoing-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(0.19rem) translateX(0);
}
.home-ongoing::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-ongoing::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-manage {
  grid-column: 7/9;
  background-image: url("../../assets/mart.jpeg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-manage__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/manage.svg");
          mask-image: url("../../components/svgs/manage.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-manage__logo-outline {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/manage-fill.svg");
          mask-image: url("../../components/svgs/manage-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(0.2rem) translateX(-0.2rem);
}
.home-manage::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-manage::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-insights {
  grid-column: 1/5;
  background-image: url("../../assets/analytics.jpg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-insights__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/insights.svg");
          mask-image: url("../../components/svgs/insights.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-insights__logo-outline {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/insights-fill.svg");
          mask-image: url("../../components/svgs/insights-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(0.25rem) translateX(0);
}
.home-insights::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-insights::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-receipt {
  grid-column: 5/7;
  background-image: url("../../assets/records.jpg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-receipt__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/receipt.svg");
          mask-image: url("../../components/svgs/receipt.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-receipt__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/receipt-fill.svg");
          mask-image: url("../../components/svgs/receipt-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(-0.3rem);
}
.home-receipt::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-receipt::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-brush {
  grid-column: 7/9;
  background-image: url("../../assets/design.jpg"), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-brush__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/brush.svg");
          mask-image: url("../../components/svgs/brush.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-brush__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/brush-fill.svg");
          mask-image: url("../../components/svgs/brush-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(0);
}
.home-brush::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-brush::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-quiz {
  grid-column: 1/3;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-quiz__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/quiz.svg");
          mask-image: url("../../components/svgs/quiz.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-quiz__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/quiz-fill.svg");
          mask-image: url("../../components/svgs/quiz-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(0);
}

.home-policy {
  grid-column: 3/5;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-policy__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/policy.svg");
          mask-image: url("../../components/svgs/policy.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-policy__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/policy-fill.svg");
          mask-image: url("../../components/svgs/policy-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(0);
}

.home-support {
  grid-column: 5/7;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-support__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/support.svg");
          mask-image: url("../../components/svgs/support.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-support__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/support-fill.svg");
          mask-image: url("../../components/svgs/support-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(0);
}

.home-power {
  grid-column: 7/9;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-power__logo {
  -webkit-mask-size: 10.5rem;
          mask-size: 10.5rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/power.svg");
          mask-image: url("../../components/svgs/power.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10.5rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-power__logo-outline {
  -webkit-mask-size: 12rem;
          mask-size: 12rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/power-fill.svg");
          mask-image: url("../../components/svgs/power-fill.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 12rem;
  fill: transparent;
  width: 110%;
  z-index: 14;
  background-image: linear-gradient(to right, white, white);
  position: absolute;
  transform: translateY(-0.5rem) translateX(0);
}

.category-container {
  height: -moz-min-content;
  height: min-content;
  display: grid;
  grid-template-columns: [center-start] repeat(4, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  filter: drop-shadow(-4px 4px 0px #0057FF);
}

.category {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 22rem;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
  background-image: white, linear-gradient(45deg, #0057FF, #7FC9FF);
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 30rem;
  text-decoration: none;
}
.category:hover {
  transform: translateY(-0.6rem) translateX(1rem);
  filter: drop-shadow(-6px 6px 0px #0057FF);
}
.category:active {
  transform: translateY(0rem) translateX(0rem);
  filter: drop-shadow(-1px 1px 0px #0057FF);
}

.category-img {
  width: 100%;
  height: 40%;
  background-size: cover;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  border-style: none none solid none;
  -o-object-fit: cover;
     object-fit: cover;
}

.category-content {
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 60%;
}

.category-name {
  margin-bottom: 0.5rem;
}

.product-number-container {
  display: flex;
  justify-content: space-between;
}

.product-numbers {
  color: #0A2647;
  line-height: 1;
  margin-top: 0px;
  font-size: 2.5rem;
  font-family: "Roboto";
  font-weight: 700;
}

.heading-icon-dropshadow {
  -webkit-background-clip: text;
          background-clip: text;
  filter: drop-shadow(-2px 2px 0px #0A2647);
}

.heading-icon-category {
  -webkit-mask-size: 4rem;
          mask-size: 4rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4rem;
  fill: transparent;
  width: 110%;
  height: 4rem;
  width: 4rem;
  transform: translateY(0rem);
  margin-left: 1rem;
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 87, 255, 0.7);
}

.product-image {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: solid 9px transparent;
  height: minmax(30rem, 50vh);
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
  width: 100%;
  filter: drop-shadow(0px 0px 0px #0057FF);
}

.main-img-container {
  grid-column: 2/4;
}

.product-container {
  height: calc(100vh - 10rem - 4rem);
  display: grid;
  grid-template-columns: minmax(0, 1fr) [center-start] repeat(6, [col-start] minmax(min-content, 17rem) [col-end]) [center-end] minmax(0, 1fr);
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.details-section {
  grid-column: 4/8;
}

.text-full {
  width: 100%;
  height: 7rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 0.8rem;
}

input[type=text].text-full {
  color: #0A2647;
  font-size: 2.5rem;
  font-family: "Roboto";
  font-weight: 900;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
}

input[type=text].text-full:focus {
  filter: brightness(120%);
  outline-color: #0057FF;
}

.invalid-form {
  width: 100%;
  height: 7rem;
  margin-top: 0.8rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, red, purple);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type=text].invalid-form {
  color: #0A2647;
  font-size: 2.5rem;
  font-family: "Roboto";
  font-weight: 900;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
}

input[type=text].invalid-form:focus {
  filter: brightness(120%);
  outline-color: red;
}

.price-pair {
  display: flex;
  margin-top: 3rem;
  align-items: center;
}

.price-pair-2 {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  margin-bottom: 1rem;
}

.product-currency {
  padding: 0 1rem;
}

.text-small {
  width: 30%;
  height: 5rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type=text].text-small {
  color: #0A2647;
  line-height: 1;
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
}

input[type=text].text-small:focus {
  filter: brightness(120%);
  outline-color: #0057FF;
}

.desc-text-area {
  resize: none;
  box-sizing: border-box;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: 100%;
  color: #0A2647;
  line-height: 1;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
  margin-top: 1rem;
}

.desc-text-area:focus {
  filter: brightness(120%);
  outline-color: #0057FF;
}

.invalid-form-box {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  color: #0A2647;
  line-height: 1;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, red, purple);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.invalid-form-box:focus {
  filter: brightness(120%);
  outline-color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
  -webkit-appearance: textfield !important;
          appearance: textfield !important;
}

input[type=number].input-number {
  color: #0A2647;
  line-height: 1;
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  margin-right: 2rem;
  transition: all 0.2s;
}

input[type=number].input-number:focus {
  filter: brightness(120%);
  outline-color: #0057FF;
}

.varContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  grid-gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
}

.varItem {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -o-object-fit: cover;
     object-fit: cover;
  height: 15rem;
  width: 20rem;
  transition: all 0.2s;
}

.varItem.active-var {
  filter: brightness(120%);
  box-shadow: 0 0 0 2px #0057FF, 0 0 0 4px white;
}

.side-img {
  margin-top: 3rem;
  height: 12rem;
  width: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: all 0.2s;
}

.side-img.active-var {
  filter: brightness(120%);
  box-shadow: 0 0 0 2px #0057FF, 0 0 0 4px white;
}

.side-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
}

.product-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.product-action-1 {
  width: 1fr;
  height: 7rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  cursor: pointer;
  transition: all 0.2s;
}

.product-action-1:active {
  filter: brightness(120%);
  box-shadow: inset 0 0 0 10px white, 0 0 0 2px #0057FF, 0 0 0 4px white;
}

.product-action-2 {
  width: 1fr;
  height: 7rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  color: white;
  border: solid 0px transparent;
  padding: 1rem;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #0057FF, #7FC9FF);
  cursor: pointer;
  transition: all 0.2s;
}
.product-action-2:active {
  filter: brightness(120%);
  box-shadow: 0 0 0 2px white, 0 0 0 4px #0057FF;
}

.categ-modals {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.categ-modal {
  width: clamp(50%, 700px, 90%);
  height: auto;
  min-height: 50%;
  max-height: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset 0 0 0 2rem white, 0 0 0 2px #0057FF, 0 0 0 4px white;
  transition: all 0.2s;
  overflow-y: scroll;
}

.add-categ-img {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  display: block;
  margin: 1rem auto 0rem;
  max-width: 40%;
  max-height: 40%;
}

.add-categ-buttons {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.categ-button-1 {
  width: 20rem;
}

.categ-button-2 {
  width: 20rem;
}/*# sourceMappingURL=main.css.map */