@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #e5f4ff;
}

.heading-primary {
  color: #0A2647;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 900;
  margin-left: 2rem;
}

.heading-tertiary {
  color: #0A2647;
  line-height: 1;
  transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 500;
}

.navbar {
  background-color: white;
  height: 10rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  z-index: -10;
  overflow: hidden;
  width: 100%;
}

.navbutton {
  width: 7.5rem;
  height: 7.5rem;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(white, white), linear-gradient(to right, #0057FF, #7FC9FF);
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbutton__hr {
  position: relative;
  border-radius: 2px;
}
.navbutton__hr, .navbutton__hr::before, .navbutton__hr::after {
  width: 75%;
  height: 5px;
  background-color: #0057FF;
  display: inline-block;
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border-radius: 2px;
  border-bottom: none;
  border-right: none;
  border-left: none;
}
.navbutton__hr::before, .navbutton__hr::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  transition: all 0.2s;
}
.navbutton__hr::before {
  bottom: -1.5rem;
}
.navbutton__hr::after {
  bottom: 1.5rem;
}

.navbutton:hover {
  filter: brightness(110%);
}

.navbutton:hover .navbutton__hr::after {
  bottom: 1.7rem;
}

.navbutton:hover .navbutton__hr::before {
  bottom: -1.7rem;
}

.company-logo-med {
  margin-left: 3rem;
  display: block;
  align-items: center;
  justify-self: center;
  width: 20rem;
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.company-logo-med:hover {
  filter: brightness(110%);
}

.navcontainer {
  margin-left: auto;
  display: flex;
}

.navitem {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.36rem;
  width: 15rem;
  height: 9.1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.navitem:hover {
  background-image: linear-gradient(white, white);
  filter: brightness(110%);
}

.nav-category {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-insights {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/insights.svg");
          mask-image: url("../../components/svgs/insights.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-ongoing {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/ongoing.svg");
          mask-image: url("../../components/svgs/ongoing.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-brush {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/brush.svg");
          mask-image: url("../../components/svgs/brush.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-power {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/power.svg");
          mask-image: url("../../components/svgs/power.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-receipt {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/receipt.svg");
          mask-image: url("../../components/svgs/receipt.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.nav-manage {
  -webkit-mask-size: 4.2rem;
          mask-size: 4.2rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/manage.svg");
          mask-image: url("../../components/svgs/manage.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 4.2rem;
  fill: transparent;
  width: 110%;
}

.maincontainer {
  height: calc(100vh - 10rem - 4rem);
  display: grid;
  grid-template-columns: [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end];
  grid-template-rows: repeat(8, min-content, 1fr);
  padding: 2rem;
  gap: 2rem;
  background-color: green;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.homepage-button {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 1fr;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

.outline {
  z-index: 99;
  width: 10rem;
  height: 10rem;
  background-color: red;
  -webkit-background-clip: text;
          background-clip: text;
  position: absolute;
}

.home-category {
  border: solid 5px transparent;
  border-radius: 15px;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-origin: border-box;
  background-clip: content-box, border-box;
  grid-column: 1/5;
  height: 1fr;
  overflow: hidden;
  position: relative;
  background-image: url(../../assets/category.jpg), linear-gradient(45deg, #0057FF, #7FC9FF);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.home-category__logo {
  -webkit-mask-size: 10rem;
          mask-size: 10rem;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-image: url("../../components/svgs/category.svg");
          mask-image: url("../../components/svgs/category.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  transform: translateY(0.3rem);
  height: 10rem;
  fill: transparent;
  width: 110%;
  z-index: 15;
  background-image: linear-gradient(to right, #0057FF, #7FC9FF);
  position: absolute;
}
.home-category::after {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(white, white), linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(100% + 1rem);
  width: 105%;
  content: "|  ";
  z-index: 10;
  -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
  float: top;
}
.home-category::before {
  border: 5px solid;
  -o-border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
     border-image: linear-gradient(45deg, #0057FF, #7FC9FF) 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(45deg, #0057FF, #7FC9FF);
  height: calc(105% + 0.5rem);
  width: 105%;
  content: "|  ";
  z-index: 9;
  -webkit-clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 46%, 100% -3%, 100% 100%, 0% 100%);
  float: top;
}

.home-ongoing {
  grid-column: 5/7;
  height: 1fr;
}

.home-manage {
  grid-column: 7/9;
  height: 1fr;
}

.home-insights {
  grid-column: 1/5;
  height: 1fr;
}

.home-receipt {
  grid-column: 5/7;
  height: 1fr;
}

.home-brush {
  grid-column: 7/9;
  height: 1fr;
}

.item7 {
  grid-column: 1/3;
  height: 1fr;
}

.item8 {
  grid-column: 3/5;
  height: 1fr;
}

.item9 {
  grid-column: 5/7;
  height: 1fr;
}

.home-power {
  grid-column: 7/9;
  height: 1fr;
}

.outline {
  z-index: 99;
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  filter: drop-shadow(-4px -5px white);
  fill: white;
  -webkit-background-clip: text;
          background-clip: text;
}/*# sourceMappingURL=main.css.map */