.about-grid-1 {
    width: 100vw;
    min-height: calc(100vw * 0.5625);
    display: grid;
    grid-template-columns: repeat(10, calc(100vw /10));
    grid-auto-rows: 10%;
  }

  // <div style={{backgroundColor:"red", height:"calc(100vw * 0.5625)", width:"100vw"}}>Hey</div>

  .heading-icon-flag {
    @include heading-logo(flag, 4rem, 4rem);
    margin-left: 1rem;
  }

  .div-preview{
    width: 100%;
    background-color: transparent;
    z-index: -1;
    border: 2px dashed red;
  }