.about-ui {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

.about-grid-1 {
    width: calc(100vw - 1.2rem);
    min-height: calc(100vw * 0.5625);
    max-height: min-content;
    display: grid;
    grid-template-columns: repeat(12, calc((100vw /12) - 1.2px));
    grid-auto-rows: 10%;
    margin: 0 auto;
    transition: all 0.2s;
    overflow-x: hidden;
  }

  .about-grid-2 {
    width: calc(66vw);
    min-height: calc(66vw);
    max-height: min-content;
    display: grid;
    grid-template-columns: repeat(8, calc((66vw /8) - 1.2px));
    grid-auto-rows: 10%;
    margin: 0 auto;
    transition: all 0.2s;
    overflow-x: hidden;
  }

  .about-grid-3 {
    width: calc(25vw);
    height: calc((25vw * 1.77));
    display: grid;
    grid-template-columns: repeat(4, calc((25vw / 4) - 1.2px));
    grid-auto-rows: 10%;
    margin: 0 auto;
    transition: all 0.2s;
    overflow-x: hidden;
  }

  @media (min-width: 361px) and (max-width: 1366px) {
    .about-grid-2{
      width: 100vw;
      height: 100vw;
      grid-template-columns: repeat(8, calc((100vw /8) - 1.2px));
    }

    .about-grid-3{
      width: 38vw;
      height: 38vw;
      grid-template-columns: repeat(8, calc((38vw/4) - 1.2px));
    }
  }

  .div-preview-1 {
    max-width: calc(100vw / 12);
    background-color: transparent;
    z-index: -20;
  }

  .div-preview-2 {
    max-width: calc(66vw / 8);
    background-color: transparent;
    z-index: -20;
  }

  .div-preview-3 {
    max-width: calc(25vw / 4);
    background-color: transparent;
    z-index: -20;
  }

  // <div style={{backgroundColor:"red", height:"calc(100vw * 0.5625)", width:"100vw"}}>Hey</div>

  .heading-icon-flag {
    @include heading-logo(flag, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-settings {
    @include heading-logo(settings, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-warning {
    @include heading-logo(warning, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-question {
    @include heading-logo(question, 3rem, 3rem);
  }


  .grided {border: 2px dashed rgba(255, 0, 0, 0.502);}

  .detail-slot-about{
    min-height: min-content;
    max-width: 100%;
   border: 5px solid transparent;
   padding: 1rem;
   transition: all 0.2s;
   background-color: $theme-bg;
   @include border-round;
  }

  .detail-row-about{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 100%;
    transition: height 0.2s ease; /* Added transition property for height */
  }

  .detail-slot-carousel {
    position: relative;
    margin: 0 auto;
    min-height: min-content;
    max-width: 50%;
   border: 5px solid transparent;
   padding: 1rem;
   transition: all 0.2s;
   background-color: $theme-bg;
   @include border-round;
   display: flex;
   flex-direction: column;  
   height: 60rem;
  }

  .carousel-text{
    margin: 1rem 10%;
  }
  .carousel-img{
    margin: 1rem 10%;
    width: 80%;
    @include border-round
  }



  .set-container {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    @include border-round;
    box-shadow: inset 0 0 0 2rem $theme-bg,
    0 0 0 2px $color-primary-dark, 0 0 0 4px white;
    transition: height 0.2s ease; /* Added transition property for height */
  }

  .min-button {
    display: flex;
    align-items: center;
    justify-items: center;
    position: absolute;
    height: 5rem;
    width: 5rem;
    top: 0;
    right: 0;
    transition: all 0.2s;
    z-index: 5;
    border: transparent;
    background-color: transparent
  }

  .heading-icon-chevron {
    @include heading-logo(chevron, 5rem, 5rem);
    width: 100%;
    height: 100%;
  }

  .rotater {
    transform: rotate(180deg);
  }


  .help-button {
    @include border-round;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transition: all 0.2s;
    outline: $color-primary-dark;
    cursor: pointer;
    margin: 1rem;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .help-button:hover {
    filter: brightness(120%);
  }

  .help-button:active {
    filter: brightness(120%);
    box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
  }

  .prev-item{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX((-50%));
    z-index: 5;
  }

  .next-item{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX((50%));
    z-index: 5;
  }

  .prev-item-2{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX((100%));
    z-index: 5;
  }

  .next-item-2{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX((-100%));
    z-index: 5;
  }
  
