.add-prod-init{
    @include border-round;
    cursor: pointer;
    display: flex;
    align-items: center;
    // justify-content: center;
    width: 18rem;
    height: 4rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    transition: all 0.2s;
  }
  
  .add-prod-init:hover{
    filter: brightness(120%);
  }
  
  .add-prod-init:focus{
    box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
      0 0 0 4px white;
    transform: scale(0.9);
  }

  .heading-icon-cube {
    @include heading-logo(cube, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-tag {
    @include heading-logo(tags, 5rem, 5rem);
    margin-left: 1rem;
  }

  .add-img {
    @include border-round;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    transition: all 0.2s;
    outline: $color-primary-dark;
    cursor: pointer;
  }

  .add-img:hover {
    filter: brightness(120%);
  }

  .add-img:active {
    filter: brightness(120%);
    box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
  }

  // .image-input{
  //   // width: 150%;
  // }

  .image-modal {
    display: flex;    
    color: $text-primary-color;
    line-height: 1;
    margin-top: 0px;
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 700;
  }

  .image-collection {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .add-prod-img{
    @include border-round;
    display: block;
    margin: 1rem;
    max-width: 100%;
    max-height: 100%;
  }

  .add-categ-img-container-2 {
    position: relative;
    max-width: 100%;
    max-height: min-content;
    display: flex;
    margin: 1rem auto 1rem;
    justify-content: center;
  }