.add-prod-init{
  @include border-round;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 18rem;
  min-height: 4rem;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: auto;
}

.add-prod-init:hover{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.add-prod-init:focus{
  -webkit-box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
          box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.heading-icon-cube {
  @include heading-logo(cube, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-tag {
  @include heading-logo(tags, 5rem, 5rem);
  margin-left: 1rem;
}

.add-img {
  @include border-round;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  outline: $color-primary-dark;
  cursor: pointer;
}

.add-img:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.add-img:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.image-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;    
  color: $text-primary-color;
  line-height: 1;
  margin-top: 0px;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
}

.image-collection {
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.add-prod-img{
  @include border-round;
  display: block;
  margin: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.add-categ-img-container-2 {
  position: relative;
  max-width: 100%;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}