.categ-modals{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categ-modal {
  width: clamp(50%, 700px, 90%);
  height: auto;
  min-height: 50%;
  max-height: 75%;
  margin: auto;
  margin-top: calc($navbar-height + 1.5rem);
  padding: 2rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  @include border-round;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg,
  0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: inset 0 0 0 2rem $theme-bg,
  0 0 0 2px $color-primary-dark, 0 0 0 4px white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow-y: scroll;
  z-index: -1;
}

.add-categ-img-container {
position: relative;
max-width: 40%;
max-height: 40%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin: 1rem auto 1rem;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.add-categ-img{
@include border-round;
display: block;
margin: 1rem auto 0rem;
max-width: 40%;
max-height: 40%;
}

.add-categ-buttons{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-line-pack: center;
    align-content: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
gap:3rem;
margin-top: 1rem;
}

.categ-button-1{
width: 20rem
}

.categ-button-2{
width: 20rem
}

.add-categ-init{
@include border-round;
cursor: pointer;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
width: 19rem;
height: 4rem;
margin-top: 0.4rem;
margin-left: 0.5rem;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}

.add-categ-init:hover{
-webkit-filter: brightness(120%);
        filter: brightness(120%);
}

.add-categ-init:focus{
-webkit-box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
  0 0 0 4px white;
        box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
  0 0 0 4px white;
-webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
        transform: scale(0.9);
}

.page-heading {display: -webkit-box;display: -ms-flexbox;display: flex;
-webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;}

.page-heading-secondary {display: -webkit-box;display: -ms-flexbox;display: flex;
gap: 1rem;}

.text-limited{
-webkit-box-shadow: inset 0 0 0 1rem $theme-bg, inset -7.5rem 0 0rem 1rem rgb(255, 255, 255) !important;
        box-shadow: inset 0 0 0 1rem $theme-bg, inset -7.5rem 0 0rem 1rem rgb(255, 255, 255) !important;
}

input[type="text"].text-limited {
padding-right: 8.5rem;
}

input[type="text"].text-limited:focus {
padding-right: 8.5rem;
}

.limit-numbers{
margin-left: -8rem;
z-index: 1;
color: black;
line-height: 1;
font-size: 2rem;
font-family: "Roboto";
font-weight: 500;
-webkit-transform: translateY(0.5rem);
    -ms-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
}

.overlength {
color:red;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
}