.cart-modal {
    width: clamp(50%, 700px, 90%);
    height: auto;
    min-height: 50%;
    max-height: 75%;
    margin: auto;
    margin-top: calc($navbar-height + 1.5rem);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    // box-shadow: inset 0 0 0 2rem $theme-bg,
    // 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
    transition: all 0.2s;
    z-index: -1;
    background-color: white;
    overflow: hidden;
    position: relative;
  }

.cart-row{
    height: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.cart-rows{
    overflow: scroll;
}

.empty-cart-row{
 height: 13rem;
 width: 100%;   
}

.cart-bottom{
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    z-index: 10;
    justify-content: space-around;
}

.cart-img{
    height:11rem;
    width: 11rem;
}

.cart-pay{
    display: flex;
    flex-direction: column;
    height: 100%;
    width:"auto";
    margin-left: auto;
    align-items: center;
}

.cart-empty-cont {
    display: flex;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-content: center;
    justify-content: center;
}

.finish-coin{
    height: 20rem;
    width: 20rem;
    margin: -4rem auto 1rem;
    z-index: -1;
}

.heading-icon-celebration {
    @include heading-logo(celebration, 4rem, 4rem);
    margin-left: 1rem;
  }