.cart-modal {
    width: clamp(50%, 700px, 95%);
    height: auto;
    min-height: 50%;
    max-height: 75%;
    margin: auto;
    margin-top: calc($navbar-height + 1.5rem);
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: -1;
    background-color: white;
    overflow: hidden;
    position: relative;
  }

.cart-row{
    min-height: 12rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.cart-rows{
    overflow: scroll;
}

.empty-cart-row{
 height: 13rem;
 width: 100%;   
}

.cart-bottom{
    min-height: 10rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    z-index: 10;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.cart-img{
    height:11rem;
    width: 11rem;
}

.cart-pay{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cart-empty-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.finish-coin{
    height: 20rem;
    width: 20rem;
    margin: -4rem auto 1rem;
    z-index: -1;
}

.heading-icon-celebration {
    @include heading-logo(celebration, 4rem, 4rem);
    margin-left: 1rem;
  }

  .font-boost{
    font-size: 2.5rem;
  }