.category-container {
    height: min-content;
    display: grid;
    grid-template-columns:
      [center-start] repeat(4, [col-start] minmax(min-content, 1fr) [col-end])
      [center-end];
    // grid-template-rows: repeat(8, min-content, 1fr);
    padding: 2rem;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    filter: drop-shadow(-4px 4px 0px $color-primary-dark);
  }

  .category {
    @include border-round;
    height: 22rem;
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    transition: all 0.2s;
    background-image: $theme-bg,
      linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  
    &:hover {
      transform: translateY(-0.6rem) translateX(1rem);
      filter: drop-shadow(-6px 6px 0px $color-primary-dark);
    }
    &:active {
      transform: translateY(0rem) translateX(0rem);
      filter: drop-shadow(-1px 1px 0px $color-primary-dark);
    }
  }