// .confirm-modal {
//     width: clamp(40%, 100%, 40%);
//     height: auto;
//     min-height: 50%;
//     max-height: 75%;
//     margin: auto;
//     padding: 2rem;
//     border-radius: 12px;
//     display: flex;
//     flex-direction: column;
//     @include border-round;
//     box-shadow: inset 0 0 0 2rem $theme-bg,
//     0 0 0 2px $color-primary-dark, 0 0 0 4px white;
//     transition: all 0.2s;
//   }

.confirm-modal {
  width: clamp(40%, 700px, 90%);
  height: auto;
  // min-height: 50%;
  max-height: 75%;
  margin: auto;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  @include border-round;
  box-shadow: inset 0 0 0 2rem $theme-bg,
  0 0 0 2px $color-primary-dark, 0 0 0 4px white;
  transition: all 0.2s;
}

  .confirm-contents {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  
    color: $text-primary-color;
    line-height: 1;
    margin-top: 0px;
    font-size: 2rem;
    font-family: "Roboto";
    font-weight: 700;
    // transform: translateY(-10rem);
  }
  
  .confirm-text{
    padding: 0rem 10rem;
    margin-bottom: 1rem;
    //   transform: translateY(-10rem);
  }

  .warning-logo{
    @include warning-logo(warning, 10rem, 10rem);
    margin: 2rem;
    //   transform: translateY(-10rem);
  }
  
  
.element-exit {
  transform: scale(1);
  opacity: 1;
  animation-name: exit;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}