.design-grid {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(14, 1fr);
  grid-template-columns: repeat(14, 1fr);
  padding-bottom: 2rem;
}


.design-col-1 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.design-col-2 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.design-col-3 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7/11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.design-col-4 {
  width: 100%;
  height: 100%;
  background-color: transparent;
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-column: 11/15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.color-picker {
  width: 100% !important;
}

.color-moder {
  width: 100%;
  height: 21rem;
  background-color: white;
}

.design-conf-buttons {
  width: 100%;
  height: 15rem;
  background-color: transparent;
}

.theme-pack {
  height: auto;
  width: 100%;
  background-color: white;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.theme-pack:active {
  -webkit-transform: translateY(0rem) translateX(0rem);
      -ms-transform: translateY(0rem) translateX(0rem);
          transform: translateY(0rem) translateX(0rem);
  -webkit-filter: drop-shadow(-1px 1px 0px $color-primary-dark) brightness(120%) drop-shadow(0px 0px 10px $color-primary-light);
          filter: drop-shadow(-1px 1px 0px $color-primary-dark) brightness(120%) drop-shadow(0px 0px 10px $color-primary-light);}

.theme-pack:active {
  background-color: white;
}

.theme-pack-colors {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.design-primary {
  height: 47rem;
  width: 100%;
  background-color: white;
}

.design-typography {
  height: 25rem;
  width: 100%;
  background-color: white;
}

.design-demo {
  height: 45rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.demo-typography {
  height: 26rem;
  width: 100%;
  background-color: white;
}

.item-setup {
  @include border-round;
  border: solid 5px transparent;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg;
          box-shadow: inset 0 0 0 2rem $theme-bg;
  overflow: hidden;
}

.item-setup-dark {
  @include border-round;
  border: solid 5px transparent;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem $background-color;
          box-shadow: inset 0 0 0 2rem $background-color;
}

.theme-button {
  height: 8rem;
  width: 8rem;
  background: transparent;
  @include border-round;
  border-radius: 50%;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from($theme-bg), to($theme-bg)),
    -webkit-gradient(linear, left top, right top, from($color-primary-dark), to($color-primary-light));
  background-image: -o-linear-gradient($theme-bg, $theme-bg),
    -o-linear-gradient(left, $color-primary-dark, $color-primary-light);
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(to right, $color-primary-dark, $color-primary-light);
  margin: 0.5rem auto;
  display: block;
  -webkit-filter: drop-shadow(-2px 2px 0px #0057ff);
          filter: drop-shadow(-2px 2px 0px #0057ff);
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-button:hover {
  -webkit-transform: translateY(-0.3rem) translateX(0.5rem);
      -ms-transform: translateY(-0.3rem) translateX(0.5rem);
          transform: translateY(-0.3rem) translateX(0.5rem);
  -webkit-filter: drop-shadow(-4px 4px 0px #0057ff) brightness(110%);
          filter: drop-shadow(-4px 4px 0px #0057ff) brightness(110%);
}

.theme-button:active {
  -webkit-transform: translateY(0rem) translateX(0rem);
      -ms-transform: translateY(0rem) translateX(0rem);
          transform: translateY(0rem) translateX(0rem);
  -webkit-filter: drop-shadow(-1px 1px 0px #89375f);
          filter: drop-shadow(-1px 1px 0px #89375f);
}

.button-theme-sun {
  @include heading-logo(sun, 6rem, 6rem);
  margin: auto;
}

.button-theme-moon {
  @include heading-logo(moon, 6rem, 6rem);
  margin: auto;
}

.product-action-2-small {
  @include button-dark;
  width: 17rem;
  height: 5rem;
  display: block;
  margin: 1rem auto;
}

.text-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.text-group-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.text-group-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.text-span {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.typo-prev-1 {
  width: 100%;
  height: 7rem;
  background-color: white;
}

.typo-prev-2 {
  width: 100%;
  height: 6rem;
  background-color: rgb(255, 0, 0);
}

.typo-prev-3 {
  width: 100%;
  height: 6rem;
  background-color: rgb(0, 8, 255);
}

.item-setup-2 {
  @include border-round;
  border: solid 0px transparent;
  border-top: solid 6px transparent;
  border-radius: 0rem;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg;
          box-shadow: inset 0 0 0 2rem $theme-bg;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-setup-2-b {
  @include border-round;
  border: solid 0px transparent;
  border-top: solid 6px transparent;
  border-radius: 0rem;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg;
          box-shadow: inset 0 0 0 2rem $theme-bg;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contrast-init {
  background-color: #0057ff;
  height: 5.5rem;
  width: 7rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.text-options {
  @include text-input-small;
  z-index: 5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.text-options {
  @include text-input-small-style;
  color: black;
}

.text-options {
  @include text-input-small-focus;
}

.heading-primary-demo{
    font-size: 3.5rem;
    font-weight: 900;
    margin-left: 2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.heading-secondary-demo {
  line-height: 1;
  margin-top: 0px;
  font-size: 3rem;
  font-weight: 700;
}

.heading-tertiary-demo {
  line-height: 1;
  -webkit-transform: translateY(-0.2rem);
      -ms-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  margin-top: 0px;
  font-size: 2rem;
  font-weight: 500;
  word-wrap: break-word;
}

.product-action-2-demo {
  @include button-dark;
  width: 22rem;
}

.product-action-1-demo {
  width: 1fr;
  height: 7rem;
  @include border-round;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 1rem $theme-bg;
          box-shadow: inset 0 0 0 1rem $theme-bg;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.product-action-1-demo:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
          box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
}

.category-sample {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 30rem;
  text-decoration: none;
  width: calc(100vw / 4 - 3rem);
  word-wrap: break-word;
  z-index: 5;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 0rem;

  @include border-round;
  position: relative;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.heading-icon-dropshadow-demo {
  -webkit-background-clip: text;
          background-clip: text;
}

.image-container-demo {
  position: relative;
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include border;
  display: flex;
  border-style: none none solid none;
}

.category-content-demo{
  padding: 0.5rem 1rem 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height:60%;
  z-index: 5;
  background-color: $theme-bg;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.heading-icon-full-star {
  @include empty-logo(star-1, 2.7rem, 2.7rem);
  margin: 0 auto
}

.heading-icon-half-star {
  @include heading-logo(star-2, 2.7rem, 2.7rem);
  margin: 0 auto;
}

.heading-icon-no-star {
  @include heading-logo(star-3, 2.7rem, 2.7rem);
  margin: 0 auto;
}

.design-prev-set{
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  z-index: 99;

}
.design-prev-button {
  height: 9rem;
  width: 10rem;
  padding: 0;
  margin: 1rem 0;
  margin-top: 0;
}


.preview-modal{
  width: auto;
  height: auto;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview-modal-2{
  width: auto;
  height: auto;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.eye-preview {
  @include heading-logo(eye, 8rem, 8rem);
}

.palette-preview {
  @include heading-logo(palette, 8rem, 8rem);
}

.palette-modal{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: auto;
}

.palette-flex-component{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 25vw;
  margin: 0 auto
}


.heading-icon-palette {
  @include heading-logo(palette, 4rem, 4rem);
  margin-left: 1rem;
}

.categ-edit-button-prev{
  position: absolute;
  top: 0;
  right:0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  height:5.5rem;
  width: 5.5rem;
  @include border-round;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: cell;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
}

.categ-edit-button-prev:hover{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.categ-edit-button-prev:active{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.design-typography {
  height: 25rem;
  width: 100%;
  background-color: white;
}

.design-demo {
  height: auto;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.demo-typography {
  height: 26rem;
  width: 100%;
  background-color: white;
}

.demo-typography-prev {
  height: 27rem;
  width: 55vw;
  background-color: white;
}

.theme-set-grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}