.heading-icon-quiz {
    @include heading-logo(quiz, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-ink {
    @include heading-logo(ink, 4rem, 4rem);
    margin-left: 1rem;
  }

  .heading-icon-pen {
    @include heading-logo(pen, 2.5rem, 2.5rem);
  }

.faq-container{
  height: calc(100vh - $navbar-height - 4rem);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.empty-quiz{
  @include empty-logo(quiz, 8rem, 8rem);
    transform: translateY(-10rem);
}

.qna-item{
  width: clamp(50%, 700px, 90%);
  height: auto;
  padding: 1rem;
  position: relative;
}

.order-toggle {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 5rem;
  width: 5rem;
  transition: all 0.2s;
  z-index: 5;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}
