.heading-icon-quiz {
  @include heading-logo(quiz, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-ink {
  @include heading-logo(ink, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-pen {
  @include heading-logo(pen, 2.5rem, 2.5rem);
}

.faq-container{
height: calc(100vh - $navbar-height - 4rem);
width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 1rem;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 1.5rem;
}

.empty-quiz{
@include empty-logo(quiz, 8rem, 8rem);
  -webkit-transform: translateY(-10rem);
      -ms-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.qna-item{
width: clamp(50%, 700px, 90%);
height: auto;
padding: 1rem;
position: relative;
}

.order-toggle {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
justify-items: center;
height: 5rem;
width: 5rem;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
z-index: 5;
border: transparent;
background-color: transparent;
cursor: pointer;
}

.new-faq-modal {
width: clamp(50%, 700px, 90%);
height: auto;
max-height: 75%;
margin: auto;

padding: 2rem;
border-radius: 12px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
@include border-round;
-webkit-box-shadow: inset 0 0 0 2rem $theme-bg,
0 0 0 2px $color-primary-dark, 0 0 0 4px white;
        box-shadow: inset 0 0 0 2rem $theme-bg,
0 0 0 2px $color-primary-dark, 0 0 0 4px white;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;
overflow-y: scroll;
z-index: -1;
}