.maincontainer {
  height: calc(100vh - $navbar-height - 4rem);
  display: grid;
  grid-template-columns:
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end];
  grid-template-rows: repeat(8, min-content, 1fr);
  padding: 2rem;
  gap: 2rem;
  background-color: green;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.homepage-button {
  @include border-round;
  height: 1fr;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}

// .home-category {
//   @include home-button-column(1/8);
//   background-image: url(../../assets/mainlogo.png),
//     linear-gradient(45deg, $color-primary-dark, $color-primary-light);
// }

// .outline {
//   z-index: 99;
//   width: 10rem;
//   height: 10rem;
//   background-color: red;
//   background-clip: text;
//   // filter: drop-shadow(10px 10px black);

//   position: absolute;
// }

.home-category {
  grid-column: 1/5;
  @include home-setup("category.jpg");


  &__logo {
    @include home-setup-logo(category);

    &-outline {
      @include home-setup-logo-outline(category, 0.25rem)
    }
  }

  &::after {
    @include home-stack;
  }

  &::before {
    @include home-stack-border
  }
}

.home-label{color: yellowgreen}

.home-ongoing {
  grid-column: 5/7;
  @include home-setup("mainlogo.png");


  &__logo {
    @include home-setup-logo(ongoing);

    &-outline {
      @include home-setup-logo-outline(category, 0.25rem)
    }
  }
}
.home-manage {
  grid-column: 7/9;
  height: 1fr;
}
.home-insights {
  grid-column: 1/5;
  height: 1fr;
}
.home-receipt {
  grid-column: 5/7;
  height: 1fr;
}
.home-brush {
  grid-column: 7/9;
  height: 1fr;
}
.item7 {
  grid-column: 1/3;
  height: 1fr;
}
.item8 {
  grid-column: 3/5;
  height: 1fr;
}
.item9 {
  grid-column: 5/7;
  height: 1fr;
}
.home-power {
  grid-column: 7/9;
  height: 1fr;
}

// .outline {
//   z-index: 99;
//   width:10rem;
//   height: 10rem;
//   background-color: transparent;
//   // filter: drop-shadow(10px 10px black);
//   background-clip: text;
// }
