/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.maincontainer {
  height: calc(100vh - $navbar-height - 4rem);
  display: grid;
  grid-template-columns:
    [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end])
    [center-end];
  grid-template-rows: repeat(8, min-content, 1fr);
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  filter: drop-shadow(-4px 4px 0px $color-primary-dark);
}

.homepage-container{
  min-height: calc(100vh - $navbar-height)
}

.homepage-button {
  @include border-round;
  height: 1fr;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-image: $theme-bg,
    -o-linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  background-image: $theme-bg,
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);

  &:hover {
    -webkit-transform: translateY(-0.6rem) translateX(1rem);
        -ms-transform: translateY(-0.6rem) translateX(1rem);
            transform: translateY(-0.6rem) translateX(1rem);
    -webkit-filter: drop-shadow(-6px 6px 0px $color-primary-dark);
            filter: drop-shadow(-6px 6px 0px $color-primary-dark);
  }
  &:active {
    -webkit-transform: translateY(0rem) translateX(0rem);
        -ms-transform: translateY(0rem) translateX(0rem);
            transform: translateY(0rem) translateX(0rem);
    -webkit-filter: drop-shadow(-1px 1px 0px $color-primary-dark);
            filter: drop-shadow(-1px 1px 0px $color-primary-dark);
  }
}

.home-label {
  position: absolute;
  z-index: 16;
  top: 60%;
  font-size: 3rem;
}

.home-category {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  @include home-setup("category.jpg");
  &__logo {
    @include home-setup-logo(category);
    &-outline {
      @include home-setup-logo-outline(category, 0, 0rem, 12rem);
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-ongoing {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  @include home-setup("ongoing.jpg");
  &__logo {
    @include home-setup-logo(ongoing);

    &-outline {
      @include home-setup-logo-outline(ongoing, 0, 0.19rem, $home-logo-size);
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-manage {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  @include home-setup("mart.jpeg");
  &__logo {
    @include home-setup-logo(manage);

    &-outline {
      @include home-setup-logo-outline(
        manage,
        -0.2rem,
        0.2rem,
        $home-logo-size
      );
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-insights {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  @include home-setup("analytics.jpg");
  &__logo {
    @include home-setup-logo(insights);

    &-outline {
      @include home-setup-logo-outline(insights, 0, 0.25rem, 10.5rem);
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-receipt {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  @include home-setup("records.jpg");
  &__logo {
    @include home-setup-logo(receipt);

    &-outline {
      @include home-setup-logo-outline(receipt, -0.3rem, -0.5rem, 12rem);
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-brush {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  @include home-setup("design.jpg");
  &__logo {
    @include home-setup-logo(brush);

    &-outline {
      @include home-setup-logo-outline(brush, 0, -0.5rem, 12rem);
    }
  }
  &::after {
    @include home-stack;
  }
  &::before {
    @include home-stack-border;
  }
}

.home-quiz {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  @include home-setup-imageless();
  &__logo {
    @include home-setup-logo(quiz);

    &-outline {
      @include home-setup-logo-outline(quiz, 0, -0.5rem, 12rem);
    }
  }
}

.home-policy {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  @include home-setup-imageless();
  &__logo {
    @include home-setup-logo(policy);

    &-outline {
      @include home-setup-logo-outline(policy, 0, -0.5rem, 12rem);
    }
  }
}

.home-support {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  @include home-setup-imageless();
  &__logo {
    @include home-setup-logo(support);

    &-outline {
      @include home-setup-logo-outline(support, 0, -0.5rem, 12rem);
    }
  }
}

.home-power {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  @include home-setup-imageless();
  &__logo {
    @include home-setup-logo(power);

    &-outline {
      @include home-setup-logo-outline(power, 0, -0.5rem, 12rem);
    }
  }
}

.bg-gradient {
  background-image: -o-linear-gradient($theme-bg, $theme-bg),
  -o-linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  background-image: linear-gradient($theme-bg, $theme-bg),
  linear-gradient(45deg, $color-primary-dark, $color-primary-light);
}