.images-container {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.images-column {
  @include border-round;
  border: solid 5px transparent;
  position: relative;
  transition: all 0.2s;
  padding: 1rem;
  box-shadow: inset 0 0 0 2rem $theme-bg;
  overflow: hidden;
  height: min-content;
}

.heading-icon-favicon {
  @include heading-logo(favicon, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-navbar-logo {
  @include heading-logo(navbar-logo, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-notification {
  @include heading-logo(notification, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-banner {
  @include heading-logo(banner, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-play {
  @include heading-logo(play, 3rem, 3rem);
}

.notif-close {
  @include heading-logo(close, 3.5rem, 3.5rem);
}

.notif-close-button {
  background-color: transparent;
  border: none;
  transition: all 0.2s;
}

.notif-close-button:focus {
  outline: none !important;
}

.notif-close-button:hover {
  filter: brightness(120%);
}

.top-notif {
  width: 80%;
  min-height: 5rem;
  background-color: white;
  margin: 1rem auto 0;
  padding: 1.5rem;
  display: flex;
  filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.2));
  align-items: center;
  justify-content: space-between;
}

.active-notifs {
  width: 100%;
  height: min-content;
  position: absolute;
  top: 0;
  margin-top: calc($navbar-height);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pop-up-container {
  max-height: 50%;
  max-width: 50%;
  margin: 1rem auto;
}

.pop-up-prev {
  height: 100%;
  width: 100%;
  @include border-round;

  object-fit: cover;
  object-position: center;
}
  
.pop-up-img {
  margin: 0 auto;
  margin-top:6rem;
  width: clamp(40%, 700px, 90%);  
  max-height: 80%;
  @include border-round;
  object-fit: cover;
  object-position: center;
}

.banner-carousel{
  height: 40vh;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.banner-item{
  height: 40vh;
  width: 50rem;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  transform: scale(0.8);
  transition: all 0.2s;
  filter: brightness(50%);
}

.banner-item.active{
  transform: scale(1);
  width: 50rem;
  filter: brightness(100%);
  z-index: 3;
  cursor: pointer;
}

.car-button {
  @include border-round;
  height: 20rem;
  width: 4rem;
  // border-radius: 50%;
  transition: all 0.2s;
  outline: $color-primary-dark;
  cursor: pointer;
}

.car-button:hover {
  filter: brightness(120%);
}

.car-button:active {
  filter: brightness(120%);
  box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.hidden-order-item{
  display: none;
}