.setting-grid {
  width: 100%;
  height: calc(100vh - $navbar-height - 5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr 5rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 5rem;
  padding: 1rem 3rem 3rem;
  -webkit-filter: drop-shadow(-4px 4px 0px #0057ff);
          filter: drop-shadow(-4px 4px 0px #0057ff);
}

.payment-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.payment-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.heading-icon-manage {
  @include heading-logo(manage, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-home {
  @include heading-logo(home, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-refund {
  @include heading-logo(refund, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-cancel {
  @include heading-logo(cancel, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-profile {
  @include heading-logo(profile, 4rem, 4rem);
  margin-left: 1rem;
}

.about-button-flag {
  @include empty-logo(flag, 10rem, 10rem);
}

.about-button-pin {
  @include empty-logo(pin, 10rem, 10rem);
}

.about-button-credit {
  @include empty-logo(credit, 10rem, 10rem);
}

.about-button-messenger {
  @include empty-logo(messenger, 10rem, 10rem);
}

.about-button-pop-up {
  @include empty-logo(pop-up, 10rem, 10rem);
}

.about-button-home-pin {
  @include empty-logo(home-pin, 10rem, 10rem);
}

.about-button-home {
  @include empty-logo(home, 10rem, 10rem);
}

.footer {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-primary-dark), to($color-primary-light)),
    -webkit-gradient(linear, left top, right top, from($color-primary-dark), to($color-primary-light));
  background-image: -o-linear-gradient($color-primary-dark, $color-primary-light),
    -o-linear-gradient(left, $color-primary-dark, $color-primary-light);
  background-image: linear-gradient($color-primary-dark, $color-primary-light),
    linear-gradient(to right, $color-primary-dark, $color-primary-light);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
  gap: 1rem;

  @include border;
  border-width: 5px 0px 0px 0px;
}

.footer-column {
  @include border;
  border-width: 5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  padding-top: 1rem;
}

.social-icon {
  height: 4rem;
  width: 4rem;
}

.socials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.footer-img {
  max-width: 75%;
  margin: 0 auto;
}

.heading-icon-pin {
  @include heading-logo(pin, 4rem, 4rem);
  margin-left: 1rem;
}

.contact-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  min-height: calc(100vh - $navbar-height - 5.5rem);
  background-color: transparent;
  gap: 1rem;
  padding: 1rem;
}

.detail-slot {
  min-height: 15rem;
  width: 100%;
  border: 5px solid transparent;
  padding: 1rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: $theme-bg;
  @include border-round;
}

.heading-icon-pin {
  @include heading-logo(pin, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-socials {
  @include heading-logo(socials, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-about {
  @include heading-logo(about, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-links {
  @include heading-logo(links, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-mail {
  @include heading-logo(mail, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-phone {
  @include heading-logo(phone, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-img-sm {
  @include heading-logo(add-img, 3rem, 3rem);
  margin-left: 1rem;
}

.heading-icon-pop-up {
  @include heading-logo(pop-up, 4rem, 4rem);
  margin-left: 1rem;
}

.detail-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.detail-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

input[type="checkbox"].toggle-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}

label.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 8rem;
  height: 4rem;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.25rem;
  width: 3.6rem;
  height: 3.6rem;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .toggle-label {
  background: #bada55;
}

input:checked + .toggle-label:after {
  left: calc(100% - 2px);
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.toggle-label:active:after {
  width: 5.2rem;
}

.location-container {
  height: calc(100vh - $navbar-height);
}

.heading-icon-credit {
  @include heading-logo(credit, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-payment {
  @include heading-logo(payment, 4rem, 4rem);
  margin-left: 1rem;
}

.heading-icon-fee {
  @include heading-logo(fee, 4rem, 4rem);
  margin-left: 1rem;
}

.pay-segment {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  @include border-round;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
          box-shadow: inset 0 0 0 2rem $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.pay-segment-2 {
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  @include border-round;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
          box-shadow: inset 0 0 0 2rem $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.fee-cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type="checkbox"].checkbox-style {
  position: absolute;
  -webkit-transform: translateX(-10px) translateY(-5px);
      -ms-transform: translateX(-10px) translateY(-5px);
          transform: translateX(-10px) translateY(-5px);
  width: 4em;
  height: 4rem;
  opacity: 0;
}

.checkbox-container {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  background-color: transparent;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}