.setting-grid {
    width: 100%;
    height: calc(100vh - $navbar-height - 4rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap:5rem;
    padding: 1rem 3rem 3rem;
    filter: drop-shadow(-4px 4px 0px #0057FF);
  }

  .heading-icon-manage {
    @include heading-logo(manage, 4rem, 4rem);
    margin-left: 1rem;
  }

  .about-button-flag{
    @include empty-logo(flag, 10rem, 10rem);
  }

  .about-button-pin{
    @include empty-logo(pin, 10rem, 10rem);
  }

  .about-button-credit{
    @include empty-logo(credit, 10rem, 10rem);
  }

  .about-button-messenger{
    @include empty-logo(messenger, 10rem, 10rem);
  }

  .about-button-pop-up{
    @include empty-logo(pop-up, 10rem, 10rem);
  }

  .about-button-home-pin{
    @include empty-logo(home-pin, 10rem, 10rem);
  }

  .footer{
    width: 100%;
    height: 25vh;
    background-image: linear-gradient($color-primary-dark, $color-primary-light),
    linear-gradient(to right, $color-primary-dark, $color-primary-light);
    border-top: 5px solid red;
  }