.navbar {
  background-color: $theme-bg;
  height: 9rem;
  @include border;
  display: flex;
  align-items: center;
  z-index: -10;
  overflow: hidden;
  width: 100%;
}

.navbutton {
  width: 6.5rem;
  height: 6.5rem;
  @include border-round;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(to right, $color-primary-dark, $color-primary-light);
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbutton__hr {
  position: relative;
  border-radius: 2px;
  &,
  &::before,
  &::after {
    width: 75%;
    height: 5px;
    background-color: $color-primary-dark;
    display: inline-block;
    @include border-round;
    border-radius: 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.2s;
  }

  &::before {
    bottom: -1.2rem;
  }
  &::after {
    bottom: 1.2rem;
  }
}

.navbutton:hover .navbutton__hr::after {
  bottom: 1.5rem;
}

.navbutton:hover .navbutton__hr::before {
  bottom: -1.5rem;
}

.company-logo-med {
  margin-left: 3rem;
  display: block;
  align-items: center;
  justify-self: center;
  width: 20rem;
  @include border;
}

.navcontainer {
  margin-left: auto;
  display: flex;
}

.navitem {
  @include border;
  align-self: stretch;
  display: block;
  width: 15rem;
  height: 8.1rem;
}

.navicon {
  height: 4rem;
  fill:transparent;
  margin-bottom: -0.50rem;
  &__big {
    transform: translateY(-0.25rem);
    fill:transparent;
  }
}
.navtext {
  margin-top: 0px;
  line-height: 1;
  transform: translateY(0.1rem);
}

.category {@include navlogo-gradient(category)}
.insights {@include navlogo-gradient(insights)}
.ongoing {@include navlogo-gradient__adjust(ongoing)}
.brush {@include navlogo-gradient__adjust(brush)}
.power {@include navlogo-gradient__adjust(power)}
.receipt {@include navlogo-gradient__adjust(receipt)}
.manage {@include navlogo-gradient__adjust(manage)}
