.navbar {
  background-color: $theme-bg;
  height: $navbar-height;
  @include border;
  display: flex;
  align-items: center;
  z-index: 100;
  // overflow: hidden;
  width: 100%;
  transition: all 0.2s;
  position: sticky;
}

.nav-visible {
  top: 0;
}

.nav-hidden {
  transform: translateY(-100%);
  transition: all 0.3s;
}


.navbutton {
  width: 7.5rem;
  height: 7.5rem;
  @include border-round;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(to right, $color-primary-dark, $color-primary-light);
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  filter: drop-shadow(-2px 2px 0px $color-primary-dark);

  &:hover{
    transform: translateY(-0.3rem) translateX(0.5rem);
    filter: drop-shadow(-4px 4px 0px $color-primary-dark) brightness(110%);
    transition: all 0.2s;
  
    &:active {
      transform: translateY(0rem) translateX(0rem);
      filter: drop-shadow(-1px 1px 0px $color-primary-dark);
    }
  }
}

.navbutton__hr {
  position: relative;
  border-radius: 2px;
  &,
  &::before,
  &::after {
    width: 75%;
    height: 5px;
    background-color: $color-primary-dark;
    display: inline-block;
    @include border-round;
    border-radius: 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.2s;
  }

  &::before {
    bottom: -1.5rem;
  }
  &::after {
    bottom: 1.5rem;
  }

  &-2{
    position: relative;
    border-radius: 2px;
    &,
    &::before,
    &::after {
      width: 75%;
      height: 5px;
      display: inline-block;
      background-image: linear-gradient(to right, $color-primary-dark, $color-primary-light);
      border-radius: 2px;
      border-bottom: none;
      border-right: none;
      border-left: none;
      transition: all 0.1s;
    }
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
    }
  
    &::before {
      bottom: -1.5rem;
    }
    &::after {
      bottom: 1.5rem;
    }
  }
}

.navbutton:hover .navbutton__hr::after {
  bottom: 1.7rem;
}

.navbutton:hover .navbutton__hr::before {
  bottom: -1.7rem;
}


.navbutton:hover .navbutton__hr-2 {
  position: relative;
  border-radius: 2px;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  & {
    width: 75%;
    height: 5px;
    background-color: transparent;
    display: inline-block;
    border: none;
    transition: all 0.1s;
  }
  &::before,
  &::after {
    width: 75%;
    height: 5px;
    background-color: $color-primary-dark;
    display: inline-block;
    @include border-round;
    border-radius: 2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
  }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      transition: all 0.2s;
    }

    &::before {
      bottom: 0rem;
      rotate: 315deg;
    }
    &::after {
      bottom: 0rem;
      rotate: -315deg;
    }
}

.company-logo-med {
  margin-left: 3rem;
  display: block;
  align-items: center;
  justify-self: center;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  width: 20rem;
  @include border;
  transition: all 0.2s;
}

.company-logo-med:hover{
  filter: brightness(110%)
}

.navcontainer {
  margin-left: auto;
  display: flex;
  
}

.navitem {
  @include border;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.36rem;
  width: 15rem;
  height: 9.1rem;
  cursor: pointer;
  transition: all 0.2s;
  background-image: $theme-bg,
    linear-gradient(45deg, $color-primary-dark, $color-primary-light);
  background-color: $theme-bg;
  position: relative;
}

.navitem:hover{
  filter: brightness(120%);
}

.nav-sign {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  height: 9.1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.log-button{
  height: 4rem !important;
  width: 90%;
  padding: 0 !important;
  margin: 0 !important;
}

.sign-button{
  height: 4rem !important;
  width: 90% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.nav-category {@include navlogo-gradient(category, 4.2rem, 4.2rem);}
.nav-insights {@include navlogo-gradient(insights, 4.2rem, 4.2rem)}
.nav-ongoing {@include navlogo-gradient(ongoing, 4.2rem, 4.2rem)}
.nav-brush {@include navlogo-gradient(brush, 4.2rem, 4.2rem)}
.nav-power {@include navlogo-gradient(power, 4.2rem, 4.2rem)}
.nav-receipt {@include navlogo-gradient(receipt, 4.2rem, 4.2rem);}
.nav-manage {@include navlogo-gradient(manage, 4.2rem, 4.2rem)}

.cartbob{transform: scale(0.9);
filter: brightness(120%);}

.hover-box {
  position: absolute;
  right: 0;
  width: 200px;
  display: block;
  z-index: -10;
  height: min-content;
  @include border
}

.profile-item {
  height: 6rem;
  display: flex;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.profile-item:hover{
  filter: brightness(120%) !important;
}

.heading-icon-manage-account {
  @include heading-logo(manage-account, 4rem, 4rem);
  margin-left: 1rem;
}

.search-magnifying {
  @include heading-logo(magnifying, 3rem, 3rem);
}

.search-row{
  max-height: 25rem;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
}

.search-item{
  height: 5rem;
  width: 100%;
  background-color: rgb(216, 216, 216);   
}

.search-container {
  position: relative;
}
