.heading-icon-ongoing {
    @include heading-logo(ongoing, 4rem, 4rem);
    margin-left: 1rem;
  }

  .text-sec-profile {
    @include heading-logo(profile, 3rem, 3rem);
  }

  .text-sec-mail {
    @include heading-logo(mail, 3rem, 3rem);
  }

  .empty-ongoing{
    @include empty-logo(ongoing, 8rem, 8rem);
      transform: translateY(-10rem);
  }

  .text-ter-calendar {
    @include heading-logo(calendar, 2rem, 2rem);
  }

  .text-ter-shipping {
    @include heading-logo(shipping, 2rem, 2rem);
  }

  .text-ter-basket {
    @include heading-logo(basket, 2rem, 2rem);
  }

  .order-container {
    min-height: calc(100vh - $navbar-height);
    width: 100%;
    display: flex;
    gap: 2rem;
    padding: 1.5rem 2rem 2rem 2rem;
  }

  .order-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    transition: all 0.2s;
  }

  .order-button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
  }

  .order-button-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
  
  .order-item {
    position: relative;
    transition: all 0.2s;
    overflow: hidden;
    height: min-content;
    padding: 1rem;
  }

  .order-toggle {
    display: flex;
    align-items: center;
    justify-items: center;
    height: 5rem;
    width: 5rem;
    transition: all 0.2s;
    z-index: 5;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
  }

  .order-img{
    width: 8rem;
    height: 8rem;
  }

  .order-active{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: lime;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }

  .order-inactive{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: red;
    border: 2px solid rgba(0, 0, 0, 0.5);
  }

  .order-missing{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: gray;
    border: 2px solid rgba(0, 0, 0);
  }

  .edit-order-modal {
    width: clamp(50%, 700px, 90%);
    height: auto;
    min-height: 50%;
    max-height: 80%;
    margin: auto;
    margin-top: calc($navbar-height + 1.5rem);
    padding: 2rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    @include border-round;
    box-shadow: inset 0 0 0 2rem $theme-bg,
    0 0 0 2px $color-primary-dark, 0 0 0 4px white;
    transition: all 0.2s;
    overflow-y: scroll;
    z-index: -1;
  }

  .checkout-img{
    height:7rem;
    width: 7rem;
}

  .checkout-row{
    height: min-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
  }