.heading-icon-policy {
    @include heading-logo(policy, 4rem, 4rem);
    margin-left: 1rem;
  }

  .policy-container{
    height: calc(100vh - $navbar-height - 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
  }

  .policy-container-modal{
    height: calc(100vh - $navbar-height - 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    margin-top: $navbar-height;
  }

  .markdown-half{
    height: 100%;
    width: 45vw;
  }

  .markdown-preview{
    overflow-y: scroll;
    font-size: 2rem;
    white-space: pre-wrap;
  }

  .markdown-textarea{
    padding: 1rem;
  }

  .hide-button{
    position: absolute;
    height: 5rem;
    width: 6rem;
    z-index: 3;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0
  }

  .heading-icon-eye {
    @include heading-logo(eye, 4rem, 4rem);
  }
