.heading-icon-policy {
    @include heading-logo(policy, 4rem, 4rem);
    margin-left: 1rem;
  }

  .policy-container{
    height: calc(100vh - $navbar-height - 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
  }

  .markdown-half{
    height: 100%;
    width: 45vw;
  }

  .markdown-preview{
    background-color: white;
    padding: 1rem;
    overflow-y: scroll;
    font-size: 2rem;
  }

  .markdown-textarea{
    padding: 1rem;
  }