.product-image {
  @include border-round;
  border: solid 9px transparent;
  height: minmax(30rem, 50vh);
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
  transition: all 0.2s;
  width: 100%;
  filter: drop-shadow(0px 0px 0px $color-primary-dark);
}

.main-img-container {
  grid-column: 2/4;
}

.product-container {
  height: min-content;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 17rem) [col-end]
    )
    [center-end] minmax(0, 1fr);
  // grid-template-rows: repeat(8, min-content, 1fr);
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.details-section {
  grid-column: 4/8;
}

.text-full {
  @include text-input;
}

input[type="text"].text-full {
  @include text-input-style;
}

input[type="number"].text-full {
  @include text-input-style;
}

input[type="text"].text-full:focus {
  @include text-input-focus;
}

.invalid-form {
  width: 100%;
  height: 7rem;
  margin-top: 0.8rem;
  border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type="text"].invalid-form {
  @include text-input-style;
}

input[type="text"].invalid-form:focus {
  filter: brightness(120%);
  outline-color: red;
}

input[type="number"].invalid-form {
  @include text-input-style;
}

input[type="number"].invalid-form:focus {
  filter: brightness(120%);
  outline-color: red;
}

.invalid-form-2 {
  width: 95%;
  height: 5rem;
  margin-top: 0.8rem;
  border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type=number].invalid-form-2 {
  color: $text-primary-color;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
}

input[type=number].invalid-form-2:focus {
  filter: brightness(120%);
  outline-color: red;
}

input[type=text].invalid-form-2 {
  color: $text-primary-color;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem white;
  transition: all 0.2s;
}

input[type=text].invalid-form-2:focus {
  filter: brightness(120%);
  outline-color: red;
}

.price-pair {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.price-pair-2 {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  margin-bottom: 1rem;
}

.product-currency {
  padding: 0 1rem;
  transform: translateY(-1rem)
}

.text-small {
  @include text-input-small;
  z-index: 5;
}

input[type="text"].text-small {
  @include text-input-small-style;
}

input[type="text"].text-small:focus {
  @include text-input-small-focus;
}

.desc-text-area {
  @include box-input;
  margin-top: 1rem;
}

.desc-text-area:focus {
  @include box-input-focus;
}

.invalid-form-box {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  color: $text-tertiary-color;
line-height: 1;
font-size: 2rem;
font-family: "Roboto";
font-weight: 500;
padding: 1rem;

box-shadow: inset 0 0 0 1rem $theme-bg;
transition: all 0.2s;

border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.invalid-form-box:focus {
  filter: brightness(120%);
  outline-color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @include number-arrow-disable;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}

input[type="number"].input-number {
  @include number-input-style;
}

input[type="number"].input-number:focus {
  @include number-input-focus;
}

input[type="text"].input-number {
  @include number-input-style;
}

input[type="text"].input-number:focus {
  @include number-input-focus;
}

.varContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  grid-gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
  margin-bottom: 5rem;
}

.varItem {
  @include border-round;
  object-fit: cover;
  height: 15rem;
  width: 20rem;
  transition: all 0.2s;
  cursor: pointer;
}

.varItem.active-var {
  filter: brightness(120%);
  box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.side-img {
  margin-top: 3rem;
  height: 12rem;
  width: 17rem;
  object-fit: cover;
  @include border-round;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.side-img.active-var {
  filter: brightness(120%);
  box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.side-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
}

.product-action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.product-action-1 {
  width: 1fr;
  height: 7rem;
  @include border-round;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  box-shadow: inset 0 0 0 1rem $theme-bg;
  cursor: pointer;
  transition: all 0.2s;
}

.product-action-1:active {
  filter: brightness(120%);
  box-shadow: inset 0 0 0 10px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
}

.product-action-2 {
  @include button-dark;
  width: 22rem;
}

.product-action-3 {
  @include button-dark-red;
}

.sample{
  position: relative;
}

.product-edit-button{
  position: absolute;
  top: -10px;
  right:-10px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  height:6rem;
  width: 6rem;
  @include border-round;
  border-radius: 50%;
  display: flex;
  // justify-content: center;
  align-items: center;
  cursor: cell;
  transition: all 0.2s;
  z-index: 10;
}
.product-edit-button:hover{
  filter: brightness(120%);
}

.product-edit-button:active{
  filter: brightness(120%);
  box-shadow: inset 0 0 0 10px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.heading-icon-add-img {
  @include heading-logo(add-img, 4rem, 4rem);
  margin-left: 1rem;
}

.variations-label{
  display: inline-block;
  padding: 1rem;
  transform: translateY(1rem);
}