.product-image {
  @include border-round;
  border: solid 9px transparent;
  height: minmax(30rem, 50vh);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  width: 100%;
  -webkit-filter: drop-shadow(0px 0px 0px $color-primary-dark);
          filter: drop-shadow(0px 0px 0px $color-primary-dark);
}

.main-img-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.product-container {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:
    minmax(0, 1fr) 2rem [center-start] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(-webkit-min-content, 17rem) 2rem [col-end] 2rem
    [center-end] 2rem minmax(0, 1fr);
  -ms-grid-columns:
    minmax(0, 1fr) 2rem [center-start] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem [col-start] 2rem minmax(min-content, 17rem) 2rem [col-end] 2rem
    [center-end] 2rem minmax(0, 1fr);
  grid-template-columns:
    minmax(0, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(-webkit-min-content, 17rem) [col-end]
    )
    [center-end] minmax(0, 1fr);
  grid-template-columns:
    minmax(0, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 17rem) [col-end]
    )
    [center-end] minmax(0, 1fr);
  padding: 2rem;
  gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

.details-section {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
}

.text-full {
  @include text-input;
}

input[type="text"].text-full {
  @include text-input-style;
}

input[type="number"].text-full {
  @include text-input-style;
}

input[type="text"].text-full:focus {
  @include text-input-focus;
}

.invalid-form {
  width: 100%;
  height: 7rem;
  margin-top: 0.8rem;
  border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: -o-linear-gradient($theme-bg, $theme-bg),
    -o-linear-gradient(45deg, red, darkred);
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type="text"].invalid-form {
  @include text-input-style;
}

input[type="text"].invalid-form:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

input[type="number"].invalid-form {
  @include text-input-style;
}

input[type="number"].invalid-form:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

.invalid-form-2 {
  width: 95%;
  height: 5rem;
  margin-top: 0.8rem;
  border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: -o-linear-gradient($theme-bg, $theme-bg),
    -o-linear-gradient(45deg, red, darkred);
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

input[type=number].invalid-form-2 {
  color: $text-primary-color;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem white;
          box-shadow: inset 0 0 0 2rem white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=number].invalid-form-2:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

input[type=text].invalid-form-2 {
  color: $text-primary-color;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem white;
          box-shadow: inset 0 0 0 2rem white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=text].invalid-form-2:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

input[type=password].invalid-form-2 {
  color: $text-primary-color;
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem white;
          box-shadow: inset 0 0 0 2rem white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

input[type=password].invalid-form-2:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

.price-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-pair-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.product-currency {
  padding: 0 1rem;
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem)
}

.text-small {
  @include text-input-small;
  z-index: 5;
}

.text-small-white {
  @include text-input-small;
  z-index: 5;
}

input[type="text"].text-small {
  @include text-input-small-style;
}

input[type="text"].text-small:focus {
  @include text-input-small-focus;
}

input[type="number"].text-small-white {
  @include text-input-small-style;
}

input[type="number"].text-small-white:focus {
  @include text-input-small-focus;
}

input[type="password"].text-small {
  @include text-input-small-style;
}

input[type="password"].text-small:focus {
  @include text-input-small-focus;
}

.desc-text-area {
  @include box-input;
  margin-top: 1rem;
}

.desc-text-area:focus {
  @include box-input-focus;
}

.invalid-form-box {
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 1rem;
  color: $text-tertiary-color;
line-height: 1;
font-size: 2rem;
font-family: "Roboto";
font-weight: 500;
padding: 1rem;

-webkit-box-shadow: inset 0 0 0 2rem $theme-bg;

        box-shadow: inset 0 0 0 2rem $theme-bg;
-webkit-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;

border: solid 5px transparent;
  border-radius: $border-radius;
  background-image: -o-linear-gradient($theme-bg, $theme-bg),
    -o-linear-gradient(45deg, red, darkred);
  background-image: linear-gradient($theme-bg, $theme-bg),
    linear-gradient(45deg, red, darkred);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.invalid-form-box:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  outline-color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @include number-arrow-disable;
}

input[type="number"] {
  -moz-appearance: textfield !important;
  -webkit-appearance: textfield !important;
          appearance: textfield !important;
}

input[type="number"].input-number {
  @include number-input-style;
}

input[type="number"].input-number:focus {
  @include number-input-focus;
}

input[type="text"].input-number {
  @include number-input-style;
}

input[type="text"].input-number:focus {
  @include number-input-focus;
}

input[type="password"].input-number {
  @include number-input-style;
}

input[type="password"].input-number:focus {
  @include number-input-focus;
}

.varContainer {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  grid-gap: 2rem;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.varItem {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.varItem-sub {
  @include border-round;
  height: 15rem;
  width: 20rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.varItem.active-var {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.side-img {
  margin-top: 3rem;
  height: 12rem;
  width: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  @include border-round;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  overflow: hidden;
  cursor: pointer;
}

.side-img.active-var {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.side-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.product-action-1 {
  width: 1fr;
  height: 7rem;
  @include border-round;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  padding: 1rem;
  -webkit-box-shadow: inset 0 0 0 2rem $theme-bg;
          box-shadow: inset 0 0 0 2rem $theme-bg;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.product-action-1:active {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: inset 0 0 0 20px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
          box-shadow: inset 0 0 0 20px $theme-bg, 0 0 0 2px $color-primary-dark,
    0 0 0 4px white;
}

.product-action-2 {
  @include button-dark;
  width: 22rem;
}

.product-action-3 {
  @include button-dark-red;
}

.sample{
  position: relative;
}

.product-edit-button{
  position: absolute;
  top: -10px;
  right:-10px;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  height:6rem;
  width: 6rem;
  @include border-round;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: cell;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 10;
}
.product-edit-button:hover{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.product-edit-button:active{
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: inset 0 0 0 20px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
          box-shadow: inset 0 0 0 20px white, 0 0 0 2px $color-primary-dark, 0 0 0 4px white;
}

.heading-icon-add-img {
  @include heading-logo(add-img, 4rem, 4rem);
  margin-left: 1rem;
}

.variations-label{
  display: inline-block;
  padding: 1rem;
  -webkit-transform: translateY(1rem);
      -ms-transform: translateY(1rem);
          transform: translateY(1rem);
}

.heading-icon-mymart {
  @include heading-logo(mymart, 4rem, 4rem);
  margin-left: 1rem;
}

.menu-cart-add {
  @include menu-logo(menu-cart-add, 4rem, 4rem);
}

.heading-icon-shop {
  @include heading-logo(shop, 4rem, 4rem);
  margin-left: 1rem;
}