.sign-up-container{
    height: calc(100vh);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-box{
    min-height: 40rem;
    min-width: 40rem;
    height: min-content;
    width: min-content;
    // transform: translateY(-10%);
    transition: all 0.2s;
    padding: 1.9rem;
    display: flex;
    justify-content: center;
}

.sign-up-box-2{
  // min-height: 40rem;
  // min-width: 40rem;
  height: min-content;
  width: min-content;
  // transform: translateY(-10%);
  transition: all 0.2s;
  padding: 1.9rem;
  display: flex;
  justify-content: center;
}

.sign-step{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sign-page-button{
    height: 6rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

// .MuiTypography-root.MuiTypography-overline {font-size: 3rem;}

.MuiPickersCalendarHeader-label {font-size: 2rem;}
.MuiTypography-caption.MuiDayCalendar-weekDayLabel{font-size: 2rem;}
.MuiPickersDay-root.MuiPickersDay-dayWithMargin{font-size: 2rem;}
.MuiPickersYear-yearButton.Mui-selected{font-size: 2rem;}
.MuiPickersYear-yearButton.css-1beqopj-MuiPickersYear-yearButton{font-size: 2rem;}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit{
    width: 3rem;
    height: 3rem;
  }
.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiPickersCalendarHeader-switchViewIcon{
    width: 3rem;
    height: 3rem;
  }

.signup-progress {
    height: 2rem;
    width: 80%;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.darken-progress{
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 2rem;
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    transition: all 0.5s;
}

.total-progress{
    // width: 100%;
    height: 2rem;
    z-index: 3;
    border-radius: 20px;
    position: absolute;
    transition: all 0.5s;
}

.progress-button{
    height: 4rem;
    width: 4rem;
    background-color: white;
    border-radius: 50%;
    transform: translateY(-25%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 3;
    transition: all 0.2s;
}

.progress-animation {
    animation: scale 0.5s ease-in-out;
    filter: brightness(120%);
  }
  
  @keyframes scale {
    0% {
      transform: translateY(-25%) scale(1);
    }
    50% {
      transform: translateY(-25%) scale(1.3);
    }
    100% {
      transform: translateY(-25%) scale(1);
    }
  }

