.new-side-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.MuiTypography-root.MuiTypography-overline.css-1hbyad5-MuiTypography-root,
.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-size: 2rem;
}

.about-button-flag-2 {
  @include empty-logo(flag, 8rem, 8rem);
}

.about-button-pin-2 {
  @include empty-logo(pin, 8rem, 8rem);
}

.about-button-credit-2 {
  @include empty-logo(credit, 8rem, 8rem);
}

.about-button-pop-up-2 {
  @include empty-logo(pop-up, 8rem, 8rem);
}

.about-button-settings-2 {
  @include empty-logo(settings, 8rem, 8rem);
}

@media (max-width: 1650px) {
  .order-button-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1550px) {
  .analytics-user-container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .analytics-user-cell {
    width: 48vw;
  }
  .userbase-container {
    width: 48vw;
  }

  .analytics-user-cell {
    height: 25rem;
  }
}

@media (max-width: 1450px) {
  .analytics-preview {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .analytics-rank-prev {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .analytics-prev-small {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }

  .analytics-sales-1 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }

  .analytics-sales-cell {
    width: 98vw;
  }
}

@media (max-width: 1350px) {
  .design-col-1 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .design-col-2 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .design-col-3 {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}

@media (max-width: 1200px) {
  .palette-flex-component {
    width: 35vw;
  }
}

@media (max-width: 1100px) {
  .order-container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .order-item-2 {
    width: 95vw;
  }
}

@media (max-width: 1000px) {
  .cart-modal {
    margin-top: auto;
  }

  .top-notif {
    width: 90%;
  }

  .main-img-container {
    width: 30vw
  }
  .side-img {
    margin-top: 1rem;
    height: 12rem;
    margin-right: 1rem;
    width: 15rem;
  }

  .varItem-sub {
    @include border-round;
    height: 20rem;
    width: 25rem;
  }

  .fee-cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .maincontainer {
    display: grid;
    grid-template-columns: repeat(6, minmax(min-content, 1fr));
  }

  .homepage-button {
    height: 20rem;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .category-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
  
  .category,
  .category-sample {
    width: calc(100vw / 3 - 3rem);
    height: 35rem;
  }
  .varContainer {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .demo-typography-prev {
    width: 100%;
  }

  .preview-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .preview-modal {
    width: 50vw;
  }
}

@media (max-width: 1100px) {
  .category,
  .category-sample {
    width: calc(100vw / 3 - 3rem);
    height: 35rem;
  }
  .about-input-span {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }
}

@media (max-width: 1000px) {
  .palette-modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 950px) {
  .contact-container {
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .analytics-preview-2,
  .analytics-preview-3 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
    height: 25vh;
  }

  .analytics-rank-prev-2 {
    -ms-grid-column-span: 4;
    grid-column: span 4;
  }

  .analytics-location-prev {
    -ms-grid-column-span: 6;
    grid-column: span 6;
  }
}

@media (max-width: 900px) {
  .theme-set-grid{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .checkout-modal {
    margin: auto;
  }

  .payment-column {
    width: 40%;
  }

  .payment-column-2 {
    width: 60%;
  }

  .order-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .order-item {
    width: 95vw;
  }

  .order-button-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .analytics-preview {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-prev-small {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-rank-prev {
    -ms-grid-column-span: 5;
    grid-column: span 5;
  }

  .analytics-user-cell {
    height: 20rem;
  }

  .design-col-1 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }

  .design-col-3 {
    -ms-grid-column-span: 7;
    grid-column: span 7;
  }

  .buttons-group {
    -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  .text-group {
    margin-bottom: 2rem;
  }

  .setting-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 800px) {
  .checkout-column {
    width: 100%;
    height: auto;
  }
.checkout-column-2 {
  width: 100%;
  height: auto;
}
.checkout-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout-msg{
  margin: 0 1rem;
}

  .images-column-1 {
    width: 100%;
  }
  .images-inputs{
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .add-img {
    border: solid 4px transparent;
  }

  .user-data-button {
    width: 15rem;
  }

  .preview-modal {
    margin-top: 0rem;
  }

  .palette-flex-component {
    width: 45vw;
  }
  .palette-modal {
    margin-top: 2rem;
  }
}

@media (max-width: 775px) {
  .refuse-grid-2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .analytics-user-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .analytics-user-cell {
    width: 95vw;
  }
  .userbase-container {
    width: 95vw;
  }

  .analytics-rank-main {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    width: 98vw;
  }

  .analytics-sales-2 {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .analytics-sales-cell-2 {
    width: 98vw;
  }
}

@media (max-width: 700px) {
  .main-img-container {
    width: 33vw
  }

  .payment-column {
    width: 100%;
  }

  .payment-column-2 {
    width: 100%;
    margin-top: 1rem;
  }

  .analytics-preview,
  .analytics-categ-prev {
    height: 27vh;
  }

  .analytics-sales-cell {
    height: 25rem;
  }

  .text-group {
    margin-bottom: 1rem;
  }

  .design-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
}

@media (max-width: 650px) {
  .product-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .details-section{
    width: 100%;
    max-width: 100%;
  }
      .varContainer {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .product-action-buttons {
      width: 90%;
      margin: 0 auto;
    }

    .main-img-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: auto;
      margin-bottom: -3rem;
    }

    .side-img-container {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      margin: 1.5rem;
    }

    .side-img {
      margin-top: 1rem;
      height: 9rem;
      margin-right: 1rem;
      width: 16rem;
    }

    .product-image {
      @include border-round;
      max-height: 40vh;
    }

    .maincontainer {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }    

  .analytics-preview {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-prev-small {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-rank-prev {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-preview-2,
  .analytics-preview-3 {
    height: 20vh;
  }

  .analytics-rank-prev-2 {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .analytics-location-prev {
    -ms-grid-column-span: 10;
    grid-column: span 10;
  }

  .preview-modal-2 {
    margin-top: 5rem;
  }
  .palette-flex-component {
    width: 65vw;
  }
}

@media (max-width: 600px) {
  .info-3{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .faq-container{
    padding: 0.5rem;
  }

  .contact-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  .detail-location {
    height: 25rem;
  }
  
  .setting-grid {
    gap: 2rem;
  }

  .menu-decoy {
    height: 30vh;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
  }
  
  .category,
  .category-sample {
    width: calc(100vw / 2 - 3rem);
    height: 35rem;
  }

  .image-modal {
    display: block;
  }

  .image-collection {
    margin: 0 auto;
    width: 100%;
  }

  .add-prod-img {
    height: 30rem;
    width: 30rem;
    margin: 1rem auto;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .order-button-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .preview-modal {
    width: 60vw;
  }
}

@media (max-width: 550px) {
  .varContainer {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .varContainer {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .add-prod-img {
    height: 25rem;
    width: 25rem;
  }

  .show-user-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .analytics-preview,
  .analytics-categ-prev {
    height: 20vh;
  }
}

@media (max-width: 500px) {
  .cart-img{
    height:8rem;
    width: 8rem;
}

  .top-notif {
    width: 95%;
  }

  .images-inputs{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .product-number-container {
    display: block;
  }

  .user-detail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .analytics-sales-cell {
    height: 20rem;
  }
}

@media (max-width: 450px) {
  .checkout-fees{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .checkout-pay{
    margin-left: 0;
  }

  .checkout-total{
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .banner-item.active{
    width: 40rem;
    height: 30vh;
  }
  
  .banner-item{
    height: 30vh;
    width: 40rem;
  }
  
  .banner-carousel{
    height: 30vh;
  }

  .add-prod-img {
    height: 20rem;
    width: 20rem;
  }

  .analytics-preview-2,
  .analytics-preview-3 {
    height: 17vh;
  }

  .preview-modal-2 {
    margin-top: 0rem;
  }
  .palette-flex-component {
    width: 75vw;
  }
}

@media (max-width: 400px) {
  .cart-bottom{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1rem;
}

  .product-action-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .varItem-sub {
    height: 15rem;
    width: 19rem;
  }

  .main-img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .new-side-img-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }

  .navmenu{
    width: 45rem;
  }

  .faq-buttons{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .setting-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  

  .category,
  .category-sample {
    height: 40rem;
  }

  .user-data-button {
    margin: -1rem 0;
    margin-bottom: 1rem;
  }

  .analytics-preview,
  .analytics-categ-prev {
    height: 17vh;
  }

  .category-container {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
  }  

  .category,
  .category-sample {
    width: calc(100vw / 1 - 3rem);
    height: 35rem;
  }

  .product-number-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .analytics-user-cell {
    height: 17rem;
  }

  .buttons-group {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .preview-modal {
    width: 100%;
  }

  .preview-modal {
    width: auto;
  }
}


@media (max-width: 360px) {
  .company-logo-med{
    width: 16rem;
    margin-left: 1rem;
  }
  }


@media (max-width: 350px) {
  .cart-img{
    height:6rem;
    width: 6rem;
}

  .banner-item.active{
    width: 35rem;
    height: 20vh;
  }
  .banner-item{
    height: 20vh;
    width: 35rem;
  }
  .banner-carousel{
    height: 20vh;
  }

  .category,
  .category-sample {
    height: 45rem;
  }

  .side-img {
    height: 10rem;
    width: 15rem;
  }

  .add-prod-img {
    height: 15rem;
    width: 15rem;
  }

  .refuse-button {
    width: 16rem;
  }

  .set-default {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navmenu{
    width: 40rem;
  }
}

@media (max-width: 250px) {
  .analytics-sales-cell {
    height: 18rem;
  }
}
